<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectDespiteTask</key>
	<string>localizationOrEnvironment</string>
	<key>completionThroughLayer</key>
	<string>builderStyleBrightness</string>
	<key>hierarchicalSpineBorder</key>
	<string>alignmentInShape</string>
	<key>statefulIconPosition</key>
	<string>comprehensivePageviewInset</string>
</dict>
</plist>
