<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>rectScopeHead</key>
	<string>baselineInScope</string>
	<key>rowActivityHue</key>
	<string>queryActionOrientation</string>
	<key>unactivatedRowSpeed</key>
	<string>immutableCursorContrast</string>
	<key>usedMethodTail</key>
	<string>directlyFeatureShape</string>
	<key>variantAgainstShape</key>
	<string>viewStateOrientation</string>
</dict>
</plist>
