<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticCertificateVelocity</key>
	<string>controllerBeyondMode</string>
	<key>buttonWithSingleton</key>
	<string>titleStateVelocity</string>
	<key>mediumLayerOrientation</key>
	<string>interfacePerShape</string>
	<key>parallelCurveSize</key>
	<string>catalystCycleContrast</string>
	<key>resourceFlyweightCenter</key>
	<string>sharedGramOffset</string>
	<key>riverpodShapeMargin</key>
	<string>listviewStageVisible</string>
	<key>robustHandlerLocation</key>
	<string>tickerVariableSkewy</string>
	<key>routeAroundValue</key>
	<string>sliderLayerStyle</string>
	<key>semanticCellCenter</key>
	<string>channelsAroundSingleton</string>
	<key>temporaryPointHue</key>
	<string>repositoryBufferBehavior</string>
</dict>
</plist>
