<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBoxshadowPadding</key>
	<string>stackMediatorFeedback</string>
	<key>catalystIncludeCycle</key>
	<string>axisByShape</string>
	<key>clipperBesideFramework</key>
	<string>decorationMethodScale</string>
	<key>loopFunctionBrightness</key>
	<string>imperativeRouterDelay</string>
	<key>nodeIncludePlatform</key>
	<string>animationPrototypeSize</string>
</dict>
</plist>
