<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fragmentByFlyweight</key>
	<string>toolInFramework</string>
	<key>independentFrameColor</key>
	<string>flexStructureDensity</string>
	<key>interactiveExponentInteraction</key>
	<string>scrollableCompletionOpacity</string>
	<key>prevEquipmentColor</key>
	<string>mediumInjectionDelay</string>
</dict>
</plist>
