<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerForMode</key>
	<string>localizationThanEnvironment</string>
	<key>configurationWithFlyweight</key>
	<string>localLayoutShape</string>
	<key>documentStateInterval</key>
	<string>durationFormEdge</string>
	<key>exceptionNearStyle</key>
	<string>multiDescriptorTint</string>
	<key>intermediateManagerCoord</key>
	<string>routerVersusForm</string>
</dict>
</plist>
