<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitValuePressure</key>
	<string>textDecoratorBorder</string>
	<key>gramProcessMomentum</key>
	<string>multiplicationNumberHue</string>
	<key>histogramMethodCount</key>
	<string>activityPatternBottom</string>
	<key>listviewChainAppearance</key>
	<string>decorationProcessSaturation</string>
	<key>prismaticSceneVisibility</key>
	<string>directButtonType</string>
	<key>routeStateCoord</key>
	<string>spotNumberOrigin</string>
	<key>sinkAmongFunction</key>
	<string>flexOfKind</string>
	<key>stateFlyweightBottom</key>
	<string>backwardShaderSkewy</string>
</dict>
</plist>
