<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetVarCenter</key>
	<string>transformerLayerType</string>
	<key>cycleFlyweightTheme</key>
	<string>similarLoopMargin</string>
	<key>durationSinceProxy</key>
	<string>lossActionAcceleration</string>
	<key>inheritedLabelTransparency</key>
	<string>hardAlignmentType</string>
	<key>instructionOutsideTier</key>
	<string>delicateNavigatorDepth</string>
	<key>sliderActionFormat</key>
	<string>usedConfigurationDuration</string>
	<key>textFrameworkVelocity</key>
	<string>mapChainInterval</string>
	<key>zonePrototypeRight</key>
	<string>assetFunctionOrigin</string>
</dict>
</plist>
