<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>flexibleResultOpacity</key>
	<string>inactiveConfigurationInset</string>
	<key>listenerPrototypeRight</key>
	<string>sinkInterpreterDensity</string>
	<key>observerThroughContext</key>
	<string>immediateSliderState</string>
	<key>presenterAtProcess</key>
	<string>decorationSingletonMode</string>
	<key>providerFacadeVisibility</key>
	<string>curveWithFunction</string>
	<key>radiusTempleInteraction</key>
	<string>challengeDuringJob</string>
	<key>transitionScopeShade</key>
	<string>synchronousServiceInterval</string>
</dict>
</plist>
