<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackUntilFacade</key>
	<string>resultKindLocation</string>
	<key>controllerVarContrast</key>
	<string>responsiveSegmentPadding</string>
	<key>durationNearLevel</key>
	<string>granularGetxSpeed</string>
	<key>euclideanStoryboardType</key>
	<string>inheritedProfileHue</string>
	<key>gesturedetectorIncludePhase</key>
	<string>captionThroughProxy</string>
	<key>prevRadiusShape</key>
	<string>intuitiveCurveCount</string>
	<key>threadPlatformStyle</key>
	<string>lazyMissionTag</string>
</dict>
</plist>
