<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintSingletonTop</key>
	<string>enabledRemainderLocation</string>
	<key>contractionScopeVelocity</key>
	<string>monsterJobDirection</string>
	<key>inactiveLocalizationSpacing</key>
	<string>fusedRichtextFrequency</string>
	<key>metadataInsideContext</key>
	<string>permanentScaffoldSkewx</string>
	<key>mobileContextSkewx</key>
	<string>chapterProcessTail</string>
	<key>newestStampForce</key>
	<string>spotWorkName</string>
	<key>positionLayerKind</key>
	<string>layerMediatorEdge</string>
	<key>textVariableTheme</key>
	<string>overlayChainIndex</string>
</dict>
</plist>
