<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertFacadeFeedback</key>
	<string>menuOperationDirection</string>
	<key>anchorAwayShape</key>
	<string>typicalGroupDistance</string>
	<key>constraintAboutPrototype</key>
	<string>normalAlignmentInterval</string>
	<key>functionalBoxshadowContrast</key>
	<string>curveAlongShape</string>
	<key>listenerNumberSkewy</key>
	<string>instructionStageSpeed</string>
	<key>multiUsageState</key>
	<string>staticDimensionPressure</string>
	<key>normalManagerMode</key>
	<string>usageVarContrast</string>
	<key>pinchableAllocatorSkewy</key>
	<string>popupNearStyle</string>
	<key>responsiveSizeBottom</key>
	<string>fixedUtilOrigin</string>
	<key>usageThroughFlyweight</key>
	<string>riverpodMementoMomentum</string>
</dict>
</plist>
