<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletObserverTop</key>
	<string>grainModeFlags</string>
	<key>chartObserverStyle</key>
	<string>usedDescriptionAppearance</string>
	<key>permissiveIndicatorHead</key>
	<string>directlyProviderCount</string>
</dict>
</plist>
