<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>memberStateSkewx</key>
	<string>binaryWithPhase</string>
	<key>momentumInLevel</key>
	<string>asyncSinceLevel</string>
	<key>permanentRepositoryName</key>
	<string>rowMediatorLocation</string>
	<key>pivotalBuilderInset</key>
	<string>signatureAwayStage</string>
	<key>scrollableManagerBehavior</key>
	<string>reactiveSubscriptionCount</string>
	<key>spriteAgainstActivity</key>
	<string>eagerTickerDistance</string>
</dict>
</plist>
