<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseAlongShape</key>
	<string>scrollableAllocatorShape</string>
	<key>callbackAwayObserver</key>
	<string>storageAdapterInteraction</string>
	<key>curveThanMode</key>
	<string>missedGestureCount</string>
	<key>elasticAwaitDistance</key>
	<string>euclideanArithmeticPressure</string>
	<key>exceptionOperationResponse</key>
	<string>precisionPlatformTag</string>
	<key>handlerStyleMargin</key>
	<string>subsequentRouterDepth</string>
	<key>hyperbolicSpineInterval</key>
	<string>scaleWorkName</string>
	<key>interfaceFormBottom</key>
	<string>denseQueryTransparency</string>
	<key>multiplicationStrategyInteraction</key>
	<string>rowFacadeRotation</string>
	<key>tableParameterMomentum</key>
	<string>similarFeatureAppearance</string>
</dict>
</plist>
