<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeOptionCenter</key>
	<string>builderAndNumber</string>
	<key>coordinatorWorkState</key>
	<string>cubitWithoutChain</string>
	<key>descriptionActivitySpacing</key>
	<string>activatedZoneSkewx</string>
	<key>enabledGridDirection</key>
	<string>kernelContextSize</string>
	<key>featureFacadeBorder</key>
	<string>asynchronousCertificateBorder</string>
	<key>immediateDurationSpeed</key>
	<string>reusableMatrixShape</string>
	<key>modelWithFunction</key>
	<string>missionTierSaturation</string>
	<key>remainderWithoutTemple</key>
	<string>blocValueBrightness</string>
	<key>streamFlyweightShape</key>
	<string>inheritedMetadataDuration</string>
	<key>typicalPositionValidation</key>
	<string>futureEnvironmentCenter</string>
</dict>
</plist>
