<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubeNearActivity</key>
	<string>immediateInteractorType</string>
	<key>flexPhaseDepth</key>
	<string>observerTierLeft</string>
	<key>frameStateFrequency</key>
	<string>webQueryTop</string>
	<key>managerParameterSkewy</key>
	<string>materialPaddingCenter</string>
	<key>profileNumberOffset</key>
	<string>reducerModeIndex</string>
	<key>statelessLoopCount</key>
	<string>arithmeticTempleHead</string>
	<key>subsequentTextureBehavior</key>
	<string>ternaryOutsidePhase</string>
</dict>
</plist>
