<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleStateCount</key>
	<string>asyncByPrototype</string>
	<key>awaitIncludeAdapter</key>
	<string>providerViaPrototype</string>
	<key>delicateWorkflowTransparency</key>
	<string>customizedGroupMomentum</string>
	<key>discardedContainerInset</key>
	<string>animationSingletonVisibility</string>
	<key>materialResultRate</key>
	<string>priorityNearValue</string>
	<key>missedReductionOpacity</key>
	<string>groupCommandVisible</string>
	<key>numericalRemainderFrequency</key>
	<string>certificateCompositeAlignment</string>
	<key>seamlessScrollPressure</key>
	<string>providerNumberCount</string>
	<key>ternaryAroundSingleton</key>
	<string>backwardDropdownbuttonPadding</string>
</dict>
</plist>
