<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicApertureHue</key>
	<string>protocolAroundVariable</string>
	<key>graphViaChain</key>
	<string>reactiveSubscriptionDelay</string>
	<key>queryNumberFeedback</key>
	<string>builderTypeResponse</string>
	<key>synchronousDecorationOffset</key>
	<string>commandDespiteTask</string>
</dict>
</plist>
