<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyFlyweightPressure</key>
	<string>buttonWithoutContext</string>
	<key>dependencyTierInset</key>
	<string>graphByDecorator</string>
	<key>discardedHistogramSkewy</key>
	<string>transitionCycleLeft</string>
	<key>instructionDecoratorType</key>
	<string>lastStepSize</string>
	<key>navigatorExceptStructure</key>
	<string>themeCycleFlags</string>
	<key>robustNodeValidation</key>
	<string>repositoryStageTag</string>
	<key>skirtActionTheme</key>
	<string>baselineByForm</string>
</dict>
</plist>
