<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clipperContextOrigin</key>
	<string>positionStructureDelay</string>
	<key>grayscaleContainDecorator</key>
	<string>deferredChapterOrientation</string>
	<key>lazyRemainderMomentum</key>
	<string>mediocreThreadBorder</string>
	<key>presenterFrameworkBottom</key>
	<string>animatedExtensionType</string>
	<key>reusableAspectratioPadding</key>
	<string>disparateStatefulPressure</string>
	<key>segueAsSingleton</key>
	<string>euclideanErrorTheme</string>
	<key>smartChannelsTop</key>
	<string>dynamicSwiftFlags</string>
	<key>substantialSkirtForce</key>
	<string>topicInDecorator</string>
</dict>
</plist>
