<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxshadowActionBottom</key>
	<string>unaryVersusSystem</string>
	<key>graphPerForm</key>
	<string>listenerPlatformLocation</string>
	<key>groupProcessBrightness</key>
	<string>blocOutsideDecorator</string>
	<key>prevTransformerColor</key>
	<string>priorityCycleDirection</string>
</dict>
</plist>
