<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonParamCoord</key>
	<string>originalTabviewVelocity</string>
	<key>consultativePlaybackMode</key>
	<string>segmentTierDuration</string>
	<key>descriptionInsidePlatform</key>
	<string>actionInFramework</string>
	<key>gestureOutsideForm</key>
	<string>permanentPromiseOrigin</string>
	<key>localizationActionBottom</key>
	<string>animationOperationTension</string>
	<key>nextRadiusShape</key>
	<string>rowPhaseDirection</string>
	<key>prevGridDelay</key>
	<string>reductionModeHead</string>
	<key>sophisticatedAssetFormat</key>
	<string>effectFormFeedback</string>
	<key>tweenProcessScale</key>
	<string>queryParamResponse</string>
</dict>
</plist>
