<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderTypeTag</key>
	<string>menuAdapterOrientation</string>
	<key>easyGrayscaleStatus</key>
	<string>disparateTopicBorder</string>
	<key>fixedMediaqueryTail</key>
	<string>scrollableWorkflowTop</string>
	<key>unactivatedMetadataAlignment</key>
	<string>customizedCompositionVisible</string>
</dict>
</plist>
