<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFormOpacity</key>
	<string>controllerChainIndex</string>
	<key>futureProxyLocation</key>
	<string>mobileTierKind</string>
	<key>interfaceBeyondBuffer</key>
	<string>custompaintSinceSingleton</string>
	<key>metadataAtChain</key>
	<string>particleCycleSkewy</string>
	<key>mobileServiceEdge</key>
	<string>canvasContextSpacing</string>
	<key>observerAwayKind</key>
	<string>statelessProgressbarCenter</string>
	<key>prismaticAllocatorLocation</key>
	<string>normCommandTheme</string>
	<key>techniqueParameterBound</key>
	<string>gemScopeIndex</string>
</dict>
</plist>
