<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionPlatformName</key>
	<string>resourceJobInset</string>
	<key>agileConfigurationVisibility</key>
	<string>sustainableGroupCount</string>
	<key>instructionSystemLocation</key>
	<string>diffableNavigationSkewx</string>
	<key>observerKindName</key>
	<string>pinchableCubitIndex</string>
	<key>scaleContextFrequency</key>
	<string>similarMultiplicationVelocity</string>
	<key>statefulOutsideInterpreter</key>
	<string>flexWithProcess</string>
</dict>
</plist>
