<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveChartSpacing</key>
	<string>dedicatedSubscriptionDelay</string>
	<key>autoPresenterRotation</key>
	<string>taskAwayForm</string>
	<key>completionThanStrategy</key>
	<string>semanticsPhaseSaturation</string>
	<key>diffableSizeVisible</key>
	<string>responseStrategyTransparency</string>
	<key>elasticSkinTop</key>
	<string>alignmentShapeSkewx</string>
	<key>geometricCallbackIndex</key>
	<string>discardedSensorCoord</string>
	<key>positionedFunctionHead</key>
	<string>widgetAgainstCommand</string>
</dict>
</plist>
