<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAroundChain</key>
	<string>rectExceptTier</string>
	<key>heroActivityDirection</key>
	<string>seamlessEntityDepth</string>
	<key>modulusVisitorFlags</key>
	<string>apertureFacadeVisibility</string>
	<key>providerSingletonSize</key>
	<string>symbolTierInteraction</string>
	<key>statelessContainValue</key>
	<string>significantLayoutValidation</string>
	<key>temporaryThreadTop</key>
	<string>promiseStateMomentum</string>
</dict>
</plist>
