<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedAllocatorFlags</key>
	<string>textDespitePhase</string>
	<key>requestAlongPrototype</key>
	<string>utilThroughParameter</string>
	<key>requestUntilVisitor</key>
	<string>effectSinceVar</string>
</dict>
</plist>
