<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>futureAmongVisitor</key>
	<string>groupAtNumber</string>
	<key>newestBaseOrigin</key>
	<string>signatureLevelScale</string>
	<key>nodeFlyweightInteraction</key>
	<string>bitrateProcessType</string>
	<key>rowAsNumber</key>
	<string>euclideanBatchMode</string>
	<key>workflowVarDirection</key>
	<string>movementVersusFramework</string>
</dict>
</plist>
