<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterOfTask</key>
	<string>sortedResourceOffset</string>
	<key>nibKindTail</key>
	<string>transformerWithScope</string>
	<key>segueLayerBrightness</key>
	<string>completionProcessAcceleration</string>
	<key>sharedBuilderContrast</key>
	<string>eventWithFlyweight</string>
	<key>swiftByPhase</key>
	<string>flexibleTweenTag</string>
	<key>typicalPresenterState</key>
	<string>previewAgainstEnvironment</string>
</dict>
</plist>
