<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveBlocIndex</key>
	<string>pivotalCallbackTail</string>
	<key>durationAgainstCommand</key>
	<string>sizeTempleDensity</string>
	<key>protocolEnvironmentResponse</key>
	<string>consumerVersusMediator</string>
	<key>stampBufferOffset</key>
	<string>getxWithComposite</string>
</dict>
</plist>
