<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customLayoutState</key>
	<string>axisUntilTier</string>
	<key>documentActionContrast</key>
	<string>webTransitionInterval</string>
	<key>exponentInMode</key>
	<string>routeMethodPadding</string>
	<key>kernelContainComposite</key>
	<string>desktopSingletonAppearance</string>
	<key>modelFacadeScale</key>
	<string>resultContainMethod</string>
	<key>resilientMusicShape</key>
	<string>commandNearBuffer</string>
	<key>tickerAwayEnvironment</key>
	<string>persistentMenuBorder</string>
</dict>
</plist>
