<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalIndicatorTension</key>
	<string>controllerOfFacade</string>
	<key>euclideanPlaybackOffset</key>
	<string>responsiveSignatureInteraction</string>
	<key>giftByParameter</key>
	<string>lostContainerVisibility</string>
	<key>newestNavigationDepth</key>
	<string>rowChainOffset</string>
	<key>progressbarViaComposite</key>
	<string>rectAlongLevel</string>
	<key>requiredDelegateCenter</key>
	<string>customizedRequestCoord</string>
</dict>
</plist>
