<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationOfActivity</key>
	<string>channelsAmongMethod</string>
	<key>channelIncludeComposite</key>
	<string>observerLayerVelocity</string>
	<key>elasticRadiusOrientation</key>
	<string>protectedProjectRight</string>
	<key>layerAdapterTail</key>
	<string>buttonAtKind</string>
	<key>menuWithVisitor</key>
	<string>factoryUntilLayer</string>
	<key>nativeNavigatorScale</key>
	<string>interactiveServiceHead</string>
</dict>
</plist>
