<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonViaTask</key>
	<string>positionVisitorSize</string>
	<key>collectionAboutActivity</key>
	<string>challengeMediatorColor</string>
	<key>commonSubscriptionTint</key>
	<string>projectExceptAdapter</string>
	<key>ephemeralBuilderTension</key>
	<string>intuitiveChapterBottom</string>
	<key>flexibleStateIndex</key>
	<string>listviewContextTag</string>
	<key>prismaticFutureAcceleration</key>
	<string>dependencyContainState</string>
	<key>scenePlatformVisible</key>
	<string>backwardRowInteraction</string>
	<key>singleHashScale</key>
	<string>managerFromFlyweight</string>
</dict>
</plist>
