<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>effectThroughAdapter</key>
	<string>touchNearOperation</string>
	<key>isolateUntilBridge</key>
	<string>dynamicMethodShade</string>
	<key>iterativeVariantDirection</key>
	<string>configurationAboutTask</string>
	<key>mainFeatureInteraction</key>
	<string>diffableInterfaceState</string>
	<key>originalProgressbarCenter</key>
	<string>musicAdapterForce</string>
	<key>persistentPlateMomentum</key>
	<string>opaqueDropdownbuttonFrequency</string>
	<key>reducerExceptLayer</key>
	<string>animationAboutMethod</string>
</dict>
</plist>
