<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonStatelessVisible</key>
	<string>permanentRouterMargin</string>
	<key>eventOfVisitor</key>
	<string>gestureScopeDuration</string>
	<key>grainOfOperation</key>
	<string>directMarginFrequency</string>
	<key>mobileOfPhase</key>
	<string>prismaticInteractorVelocity</string>
	<key>playbackCommandShade</key>
	<string>entityAmongAdapter</string>
	<key>taskPatternDelay</key>
	<string>descriptorOperationVelocity</string>
</dict>
</plist>
