<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelShapePadding</key>
	<string>lazyMissionAlignment</string>
	<key>collectionAboutBuffer</key>
	<string>tangentFacadeSaturation</string>
	<key>curveStateTension</key>
	<string>presenterTypePressure</string>
	<key>customRouteSpacing</key>
	<string>diversifiedMetadataContrast</string>
	<key>directSliderEdge</key>
	<string>resultEnvironmentInterval</string>
	<key>nodeContextOpacity</key>
	<string>queueTierSpacing</string>
	<key>sliderWithoutStructure</key>
	<string>scaleAndMethod</string>
	<key>storyboardWithoutCommand</key>
	<string>animatedLabelMomentum</string>
	<key>textureCycleValidation</key>
	<string>permanentPreviewFormat</string>
</dict>
</plist>
