<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileUnaryBound</key>
	<string>tensorCapacitiesResponse</string>
	<key>asyncWidgetLeft</key>
	<string>retainedBinaryPosition</string>
	<key>descriptionContainForm</key>
	<string>boxParamLeft</string>
	<key>sinkAgainstContext</key>
	<string>immediateRowCount</string>
</dict>
</plist>
