<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCollectionVisibility</key>
	<string>reusableBatchBrightness</string>
	<key>enabledDrawerSpeed</key>
	<string>webPositionContrast</string>
	<key>entityFromType</key>
	<string>rowDespiteMemento</string>
	<key>primaryPresenterPressure</key>
	<string>chartOutsideCommand</string>
	<key>utilThanWork</key>
	<string>checklistLevelDuration</string>
</dict>
</plist>
