<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dialogsBeyondSingleton</key>
	<string>injectionValuePosition</string>
	<key>resizableObserverTint</key>
	<string>commandAlongTemple</string>
	<key>utilFrameworkContrast</key>
	<string>slashScopeDepth</string>
</dict>
</plist>
