<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentForBridge</key>
	<string>inheritedTransitionFlags</string>
	<key>batchParameterScale</key>
	<string>unaryFromTier</string>
	<key>gemProxyAppearance</key>
	<string>transformerParamCenter</string>
	<key>handlerDespiteSystem</key>
	<string>eagerConvolutionFormat</string>
	<key>layoutScopeLocation</key>
	<string>timerBufferMargin</string>
	<key>methodMementoTag</key>
	<string>builderCompositeStatus</string>
	<key>offsetAmongStyle</key>
	<string>sessionAmongPhase</string>
	<key>semanticMethodBehavior</key>
	<string>grayscaleOrParam</string>
	<key>spritePerForm</key>
	<string>reusableSliderFlags</string>
	<key>symmetricSizedboxLocation</key>
	<string>desktopHeapType</string>
</dict>
</plist>
