<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedResponseContrast</key>
	<string>promiseBufferSaturation</string>
	<key>integerInterpreterOffset</key>
	<string>elasticMemberCoord</string>
	<key>requiredTextureMargin</key>
	<string>resultFlyweightEdge</string>
	<key>roleLayerHead</key>
	<string>mainLoopFormat</string>
	<key>storagePrototypeLeft</key>
	<string>usecasePhaseShade</string>
	<key>typicalBuilderHead</key>
	<string>keyAlphaRotation</string>
</dict>
</plist>
