<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveArithmeticSpeed</key>
	<string>interpolationAndPhase</string>
	<key>independentStoryboardResponse</key>
	<string>significantMediaqueryShape</string>
	<key>masterCycleIndex</key>
	<string>curveNearStyle</string>
	<key>reusableQueryHue</key>
	<string>serviceKindBrightness</string>
	<key>sortedSingletonOrigin</key>
	<string>gridVersusPlatform</string>
	<key>taskAboutCommand</key>
	<string>sliderProxyBorder</string>
</dict>
</plist>
