<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crucialInterpolationOpacity</key>
	<string>difficultGridviewCoord</string>
	<key>gridProxyCount</key>
	<string>layoutPerPrototype</string>
	<key>gridviewMementoBottom</key>
	<string>bitrateFacadeCenter</string>
	<key>inkwellSystemHead</key>
	<string>mediaNumberName</string>
	<key>particleTierRotation</key>
	<string>stepVariableMomentum</string>
	<key>secondAxisTension</key>
	<string>associatedConfigurationFeedback</string>
</dict>
</plist>
