<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>delegateAmongPrototype</key>
	<string>callbackSystemBehavior</string>
	<key>dialogsThroughCommand</key>
	<string>persistentFeatureState</string>
	<key>relationalBitrateStatus</key>
	<string>widgetVariableSpeed</string>
	<key>semanticPriorityOffset</key>
	<string>loopInterpreterRate</string>
	<key>sizeBufferTag</key>
	<string>hashCycleFlags</string>
	<key>slashStyleColor</key>
	<string>grayscaleDuringFacade</string>
	<key>themeSinceStyle</key>
	<string>iconDuringOperation</string>
	<key>tickerDuringForm</key>
	<string>alignmentSingletonHead</string>
	<key>usedVariantDistance</key>
	<string>skinWithoutMediator</string>
	<key>utilFrameworkCoord</key>
	<string>asyncDuringPlatform</string>
</dict>
</plist>
