<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticLevelOffset</key>
	<string>labelValueLocation</string>
	<key>finalSwitchSaturation</key>
	<string>switchFlyweightTint</string>
	<key>liteNotifierState</key>
	<string>shaderParamKind</string>
	<key>mediaqueryScopeStyle</key>
	<string>protocolMediatorIndex</string>
</dict>
</plist>
