<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerIncludeEnvironment</key>
	<string>transitionStateStyle</string>
	<key>heroStructureResponse</key>
	<string>concreteParticleName</string>
	<key>indicatorSingletonStatus</key>
	<string>taskIncludeFunction</string>
	<key>nativeAnchorAcceleration</key>
	<string>flexibleGramDistance</string>
	<key>normAboutScope</key>
	<string>gradientCommandBrightness</string>
	<key>resizableBehaviorIndex</key>
	<string>originalProviderOrientation</string>
	<key>semanticsActionInset</key>
	<string>hyperbolicProviderBottom</string>
	<key>stateKindScale</key>
	<string>mainInjectionCount</string>
</dict>
</plist>
