<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferObserverSpacing</key>
	<string>roleThroughParameter</string>
	<key>comprehensiveModulusSkewx</key>
	<string>backwardConfigurationDirection</string>
	<key>fusedChapterStatus</key>
	<string>directlyBaselineValidation</string>
	<key>globalEntityTail</key>
	<string>asyncSinceJob</string>
	<key>oldScaleShade</key>
	<string>smartInteractorVisibility</string>
	<key>rowInsideState</key>
	<string>transformerThroughComposite</string>
	<key>substantialMaterialDuration</key>
	<string>gemAboutFramework</string>
</dict>
</plist>
