<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicChapterOrientation</key>
	<string>threadNearStrategy</string>
	<key>completionStrategyFlags</key>
	<string>crucialRouteLocation</string>
	<key>enabledHashStatus</key>
	<string>inheritedSlashFrequency</string>
	<key>fixedPlaybackShade</key>
	<string>accessibleSegueStyle</string>
	<key>granularErrorColor</key>
	<string>synchronousSlashLeft</string>
	<key>iterativeNotificationTransparency</key>
	<string>enabledBitrateAcceleration</string>
	<key>missionParamResponse</key>
	<string>promiseCompositeName</string>
	<key>tickerForComposite</key>
	<string>statefulProcessOffset</string>
</dict>
</plist>
