<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorParamSpeed</key>
	<string>boxshadowAwayWork</string>
	<key>gateValueTint</key>
	<string>chapterFacadeInterval</string>
	<key>presenterLevelCoord</key>
	<string>flexibleInjectionTop</string>
	<key>responseDespiteBuffer</key>
	<string>concreteFeatureInterval</string>
	<key>resultAlongVar</key>
	<string>eagerTransitionTransparency</string>
	<key>rowTempleRate</key>
	<string>similarModalDepth</string>
</dict>
</plist>
