<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInsideCommand</key>
	<string>originalStatefulAlignment</string>
	<key>geometricTitleDelay</key>
	<string>momentumParameterPadding</string>
	<key>originalCapacitiesSkewx</key>
	<string>transitionProxySkewy</string>
	<key>prevBlocFormat</key>
	<string>providerProxyStyle</string>
	<key>resizableContractionCoord</key>
	<string>draggableBuilderShape</string>
</dict>
</plist>
