<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarDespiteMediator</key>
	<string>usecaseNumberRight</string>
	<key>binaryProxyBrightness</key>
	<string>positionExceptVariable</string>
	<key>coordinatorAsStyle</key>
	<string>mainConsumerBorder</string>
	<key>delegateAdapterShade</key>
	<string>checklistCommandShade</string>
	<key>hardStateRight</key>
	<string>alertActivityDelay</string>
	<key>layoutSystemContrast</key>
	<string>techniqueEnvironmentFrequency</string>
	<key>reductionFacadeRotation</key>
	<string>descriptionLevelTension</string>
	<key>resolverAmongKind</key>
	<string>difficultNotifierDirection</string>
</dict>
</plist>
