<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVisitorDuration</key>
	<string>apertureStrategyType</string>
	<key>commandValueValidation</key>
	<string>referenceInterpreterBrightness</string>
	<key>painterPrototypeBottom</key>
	<string>denseAlignmentSize</string>
</dict>
</plist>
