<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerKindInterval</key>
	<string>finalAlertSpeed</string>
	<key>cupertinoVariableTint</key>
	<string>configurationActionShape</string>
	<key>diffableDescriptionSpacing</key>
	<string>ternaryLikeDecorator</string>
	<key>gridviewContainValue</key>
	<string>completerEnvironmentInteraction</string>
	<key>resizableArithmeticDistance</key>
	<string>notifierInsideJob</string>
	<key>routeTypeSize</key>
	<string>inactiveBehaviorRotation</string>
	<key>sharedAccessoryOpacity</key>
	<string>adaptiveNibHue</string>
</dict>
</plist>
