<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarAndLevel</key>
	<string>directlyGrainCenter</string>
	<key>declarativeWidgetBound</key>
	<string>asyncTierEdge</string>
	<key>effectByOperation</key>
	<string>awaitParamColor</string>
	<key>heapDespiteAction</key>
	<string>constraintFunctionOffset</string>
	<key>layerForComposite</key>
	<string>chartAsParameter</string>
	<key>musicNumberForce</key>
	<string>mapLayerTheme</string>
	<key>sessionOperationEdge</key>
	<string>tableTypeScale</string>
	<key>specifyStorageRight</key>
	<string>groupAsOperation</string>
	<key>transitionAroundScope</key>
	<string>handlerCompositeOffset</string>
</dict>
</plist>
