<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capsuleThanMemento</key>
	<string>tensorProgressbarSize</string>
	<key>decorationDecoratorTint</key>
	<string>functionalCommandState</string>
	<key>imperativeAsyncHue</key>
	<string>directRowPadding</string>
	<key>iterativeResultCoord</key>
	<string>cursorDecoratorCenter</string>
	<key>methodInForm</key>
	<string>flexibleStorageDirection</string>
	<key>stepAndBuffer</key>
	<string>webMenuAppearance</string>
	<key>taskFunctionScale</key>
	<string>lostFactoryOffset</string>
</dict>
</plist>
