<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedPaddingDepth</key>
	<string>groupViaVariable</string>
	<key>adaptivePetSpacing</key>
	<string>basicCatalystVisibility</string>
	<key>asyncTextSaturation</key>
	<string>vectorJobSize</string>
	<key>flexKindTheme</key>
	<string>desktopTransitionBrightness</string>
	<key>listenerThroughFacade</key>
	<string>draggableRouteMargin</string>
	<key>mediocreZoneRotation</key>
	<string>denseConsumerCenter</string>
	<key>methodCommandMargin</key>
	<string>futureNearFacade</string>
	<key>previewViaParam</key>
	<string>hierarchicalPetForce</string>
	<key>tableWorkKind</key>
	<string>positionedMementoAlignment</string>
	<key>tickerPlatformContrast</key>
	<string>geometricTickerForce</string>
</dict>
</plist>
