<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionKindMomentum</key>
	<string>beginnerDescriptionSkewx</string>
	<key>commandAboutChain</key>
	<string>navigatorInsideAdapter</string>
	<key>entitySincePlatform</key>
	<string>ephemeralObserverShape</string>
	<key>firstMediaBorder</key>
	<string>functionalRadiusCount</string>
	<key>localImageIndex</key>
	<string>remainderStructureInteraction</string>
	<key>radiusAsOperation</key>
	<string>precisionOutsideParam</string>
	<key>significantQueueDuration</key>
	<string>alphaKindCoord</string>
	<key>statelessDecorationDelay</key>
	<string>crucialRadiusContrast</string>
</dict>
</plist>
