<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaPatternSpacing</key>
	<string>activityDuringBridge</string>
	<key>imperativeWidgetOrientation</key>
	<string>instructionNumberState</string>
	<key>popupParamDelay</key>
	<string>diversifiedLayerAppearance</string>
	<key>sharedTitleHead</key>
	<string>shaderAdapterDuration</string>
	<key>substantialProviderTransparency</key>
	<string>scaffoldFormRight</string>
	<key>tweenLayerAcceleration</key>
	<string>marginActivityLeft</string>
	<key>uniformTaskForce</key>
	<string>accessibleResourceBehavior</string>
</dict>
</plist>
