<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterByShape</key>
	<string>chartStructureDistance</string>
	<key>criticalConsumerDuration</key>
	<string>exponentContainNumber</string>
	<key>errorExceptStage</key>
	<string>cardPhaseAlignment</string>
	<key>listenerAsVar</key>
	<string>sizedboxVersusMediator</string>
	<key>multiRouteBorder</key>
	<string>memberNumberTag</string>
	<key>radiusBridgeState</key>
	<string>rowTypeVelocity</string>
	<key>reducerBridgeSkewx</key>
	<string>graphContextRate</string>
</dict>
</plist>
