<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesAgainstContext</key>
	<string>zoneWithStage</string>
	<key>menuShapeAlignment</key>
	<string>usecasePhaseCoord</string>
	<key>otherResponseInset</key>
	<string>commandLayerBehavior</string>
	<key>positionParameterAcceleration</key>
	<string>descriptionTierSkewy</string>
	<key>routerActivityBottom</key>
	<string>futureModeHead</string>
	<key>statelessSpineTag</key>
	<string>symbolEnvironmentHue</string>
</dict>
</plist>
