<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocAlongFlyweight</key>
	<string>layerInsideAction</string>
	<key>builderOperationDirection</key>
	<string>multiplicationOfFramework</string>
	<key>descriptionOutsideMediator</key>
	<string>accessibleChecklistTint</string>
	<key>explicitRectRotation</key>
	<string>subpixelNumberOpacity</string>
	<key>gesturedetectorForLevel</key>
	<string>groupVarTint</string>
	<key>injectionMementoCount</key>
	<string>animatedZoneDelay</string>
	<key>optimizerSinceVar</key>
	<string>zoneSinceType</string>
	<key>routerValueValidation</key>
	<string>marginFromTemple</string>
	<key>spotFrameworkDistance</key>
	<string>prismaticKernelFormat</string>
	<key>synchronousCertificateEdge</key>
	<string>routeAlongChain</string>
</dict>
</plist>
