<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ephemeralThreadPosition</key>
	<string>methodBufferBound</string>
	<key>gramActionAcceleration</key>
	<string>otherTextPressure</string>
	<key>permanentTaskStatus</key>
	<string>navigatorThroughAdapter</string>
	<key>protectedCoordinatorColor</key>
	<string>resourceSinceScope</string>
	<key>scrollableEqualizationLocation</key>
	<string>variantForPhase</string>
	<key>sortedDelegateKind</key>
	<string>geometricMediaqueryDirection</string>
	<key>transitionLayerState</key>
	<string>rapidUsecaseAppearance</string>
</dict>
</plist>
