<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerBorderDistance</key>
	<string>stampFacadeHead</string>
	<key>durationInsideSystem</key>
	<string>directlyBufferVisible</string>
	<key>localEqualizationBorder</key>
	<string>intermediateIntegerRotation</string>
	<key>localizationNumberMargin</key>
	<string>providerIncludeInterpreter</string>
	<key>missionNearJob</key>
	<string>missedHashMode</string>
	<key>storageOfMode</key>
	<string>tappablePopupName</string>
	<key>transitionContextBrightness</key>
	<string>spriteAlongMediator</string>
</dict>
</plist>
