<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>getxOrContext</key>
	<string>consultativeButtonOpacity</string>
	<key>inkwellAdapterVisible</key>
	<string>draggableListenerFormat</string>
	<key>mainPopupTension</key>
	<string>mediocrePopupOpacity</string>
	<key>mobileCardAppearance</key>
	<string>beginnerVectorPressure</string>
	<key>operationFlyweightRotation</key>
	<string>crucialBlocName</string>
	<key>positionThroughMemento</key>
	<string>mainBulletCenter</string>
	<key>presenterActivityAcceleration</key>
	<string>configurationThroughVar</string>
</dict>
</plist>
