<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousNodeOrientation</key>
	<string>currentLocalizationMode</string>
	<key>groupViaProcess</key>
	<string>tickerUntilMethod</string>
	<key>methodBeyondState</key>
	<string>entityCycleState</string>
</dict>
</plist>
