<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationScopeTint</key>
	<string>signFlyweightMomentum</string>
	<key>autoAlignmentScale</key>
	<string>asynchronousBinaryName</string>
	<key>borderIncludeFacade</key>
	<string>navigatorSinceParameter</string>
	<key>compositionTempleHue</key>
	<string>actionForInterpreter</string>
	<key>cycleAgainstCycle</key>
	<string>particleThroughVar</string>
	<key>scaleKindShape</key>
	<string>gramContainCommand</string>
</dict>
</plist>
