<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationFrameworkTag</key>
	<string>lastOverlayTension</string>
	<key>characterExceptSingleton</key>
	<string>immutableAllocatorTension</string>
	<key>coordinatorFromNumber</key>
	<string>momentumAtMode</string>
	<key>delegateThanType</key>
	<string>ternaryAlongVariable</string>
	<key>fusedSlashColor</key>
	<string>explicitRowPadding</string>
	<key>optionNearProxy</key>
	<string>advancedProgressbarColor</string>
	<key>requestJobLocation</key>
	<string>frameDuringLayer</string>
	<key>respectiveGridviewMomentum</key>
	<string>gateThroughPhase</string>
	<key>topicAsPlatform</key>
	<string>descriptionFromNumber</string>
</dict>
</plist>
