<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitForProcess</key>
	<string>constReferenceName</string>
	<key>blocPatternRight</key>
	<string>significantScaffoldTransparency</string>
	<key>concurrentFactoryKind</key>
	<string>rowProxyAlignment</string>
	<key>flexibleFutureFlags</key>
	<string>semanticLayoutName</string>
	<key>gridLikeParam</key>
	<string>resilientMissionHead</string>
	<key>sophisticatedListviewDistance</key>
	<string>rowInParam</string>
	<key>visibleMapResponse</key>
	<string>graphicChainTail</string>
</dict>
</plist>
