<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoCubitFormat</key>
	<string>scaffoldMethodPosition</string>
	<key>decorationOperationColor</key>
	<string>uniformBuilderCoord</string>
	<key>delegateValueAppearance</key>
	<string>riverpodPlatformSaturation</string>
	<key>iterativeStoryboardPressure</key>
	<string>effectJobOffset</string>
	<key>materialOptionRotation</key>
	<string>capsuleCommandKind</string>
</dict>
</plist>
