<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerInVariable</key>
	<string>stackOfPrototype</string>
	<key>hyperbolicViewValidation</key>
	<string>fusedButtonPressure</string>
</dict>
</plist>
