<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushParameterDelay</key>
	<string>callbackPlatformEdge</string>
	<key>descriptionActionPressure</key>
	<string>capacitiesInBuffer</string>
	<key>graphicDuringAction</key>
	<string>mutableBufferRotation</string>
	<key>inactiveSingletonMode</key>
	<string>delegateByInterpreter</string>
	<key>independentCollectionDuration</key>
	<string>statelessPatternDistance</string>
	<key>overlaySinceMediator</key>
	<string>swiftViaVisitor</string>
	<key>reusableSingletonRight</key>
	<string>semanticOperationRate</string>
	<key>storeVersusTier</key>
	<string>collectionAboutFramework</string>
</dict>
</plist>
