<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentCompositeRate</key>
	<string>tappablePromiseStyle</string>
	<key>assetKindDuration</key>
	<string>roleModeStyle</string>
	<key>constraintEnvironmentHue</key>
	<string>interactorModeMode</string>
	<key>crudeStorageDensity</key>
	<string>graphicThroughJob</string>
	<key>equalizationAwayBuffer</key>
	<string>cacheBeyondJob</string>
	<key>instructionActionMode</key>
	<string>permanentFlexBound</string>
	<key>musicWithSingleton</key>
	<string>certificateProcessBottom</string>
	<key>progressbarNearParam</key>
	<string>cursorProcessRight</string>
	<key>smartViewInteraction</key>
	<string>flexScopeTail</string>
	<key>symmetricEffectMargin</key>
	<string>agileLabelTint</string>
</dict>
</plist>
