<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>listenerEnvironmentOpacity</key>
	<string>crudeSpriteSpacing</string>
	<key>nibStageCenter</key>
	<string>visibleCanvasSkewx</string>
	<key>providerDuringPhase</key>
	<string>zoneVarAppearance</string>
	<key>stackExceptBuffer</key>
	<string>borderAmongTemple</string>
</dict>
</plist>
