<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intensityScopeFlags</key>
	<string>coordinatorAgainstContext</string>
	<key>publicCycleHead</key>
	<string>euclideanProjectMargin</string>
	<key>secondStateSpacing</key>
	<string>durationInsideAction</string>
</dict>
</plist>
