<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaBesideVariable</key>
	<string>sceneAwayKind</string>
	<key>imageProcessVisible</key>
	<string>managerFlyweightPadding</string>
	<key>isolateBesideCommand</key>
	<string>completionFacadeInset</string>
	<key>layerOfMethod</key>
	<string>fixedBlocBrightness</string>
	<key>layoutUntilNumber</key>
	<string>segueVariableBound</string>
	<key>painterThroughComposite</key>
	<string>nativeGiftTheme</string>
	<key>reductionAroundFlyweight</key>
	<string>grainStyleInset</string>
	<key>resizableSwitchShade</key>
	<string>managerAroundJob</string>
	<key>resourceActivityDuration</key>
	<string>layoutThroughProcess</string>
</dict>
</plist>
