<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSemanticsAcceleration</key>
	<string>channelAndSystem</string>
	<key>aspectMediatorVisibility</key>
	<string>mainOffsetDelay</string>
	<key>enabledResponseCount</key>
	<string>borderMementoBorder</string>
	<key>eventDespiteFacade</key>
	<string>labelMementoAppearance</string>
	<key>multiModulusTint</key>
	<string>usecaseFacadeTag</string>
	<key>prismaticOffsetPadding</key>
	<string>profileAwayShape</string>
	<key>reusableGridOrientation</key>
	<string>cartesianCaptionLeft</string>
	<key>signatureFormFrequency</key>
	<string>factoryLikeContext</string>
	<key>topicEnvironmentOrigin</key>
	<string>segueDespiteVariable</string>
</dict>
</plist>
