<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletActionKind</key>
	<string>precisionSystemTop</string>
	<key>consultativeAlertValidation</key>
	<string>cursorStrategyTension</string>
	<key>invisiblePresenterSkewx</key>
	<string>hierarchicalShaderBottom</string>
	<key>layerOfFramework</key>
	<string>particleViaParameter</string>
	<key>sizeMediatorTop</key>
	<string>beginnerWidgetState</string>
</dict>
</plist>
