<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dedicatedHashAlignment</key>
	<string>positionThanFlyweight</string>
	<key>difficultMemberTag</key>
	<string>multiplicationAwayVar</string>
	<key>exponentIncludeActivity</key>
	<string>decorationVarName</string>
	<key>richtextInterpreterStatus</key>
	<string>techniqueMediatorForce</string>
	<key>sharedSensorTension</key>
	<string>builderBufferHead</string>
	<key>substantialResponseDensity</key>
	<string>reductionWorkAcceleration</string>
	<key>workflowThroughOperation</key>
	<string>lossWithoutFramework</string>
</dict>
</plist>
