<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderByCycle</key>
	<string>hashLikeBridge</string>
	<key>buttonInterpreterCount</key>
	<string>popupNearJob</string>
	<key>deferredCapacitiesColor</key>
	<string>geometricPainterRight</string>
	<key>fragmentBesidePhase</key>
	<string>animationOutsideParam</string>
	<key>hierarchicalHeroSaturation</key>
	<string>matrixFrameworkVelocity</string>
	<key>labelBufferBrightness</key>
	<string>subpixelJobType</string>
	<key>typicalPageviewBrightness</key>
	<string>asynchronousModelStyle</string>
</dict>
</plist>
