<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureBeyondFunction</key>
	<string>durationDuringAction</string>
	<key>channelsFacadePosition</key>
	<string>responseAndShape</string>
	<key>composableCurvePosition</key>
	<string>multiEquipmentPadding</string>
	<key>displayableHandlerVelocity</key>
	<string>reductionProxyMargin</string>
	<key>displayableMethodForce</key>
	<string>requestJobTheme</string>
	<key>graphVersusWork</key>
	<string>binaryThroughObserver</string>
	<key>iconValueKind</key>
	<string>curvePhaseLocation</string>
	<key>layerStructureFrequency</key>
	<string>seguePatternVelocity</string>
	<key>providerAsFacade</key>
	<string>paddingFrameworkType</string>
	<key>sceneTaskVisibility</key>
	<string>cursorThroughFlyweight</string>
</dict>
</plist>
