<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>respectiveAllocatorContrast</key>
	<string>rowActionContrast</string>
	<key>segmentWorkSkewy</key>
	<string>petMementoSpeed</string>
	<key>significantNavigationIndex</key>
	<string>axisWorkKind</string>
	<key>singleStreamKind</key>
	<string>techniqueVisitorContrast</string>
	<key>sinkProxyRotation</key>
	<string>delegateVersusMethod</string>
</dict>
</plist>
