<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentGraphicColor</key>
	<string>animationVarBottom</string>
	<key>mediumRectPadding</key>
	<string>semanticTaskDensity</string>
	<key>precisionByStyle</key>
	<string>positionNumberState</string>
	<key>specifyTaskFormat</key>
	<string>heroSinceForm</string>
	<key>techniqueAtNumber</key>
	<string>metadataInEnvironment</string>
	<key>unactivatedVariantAlignment</key>
	<string>positionedProxyLeft</string>
</dict>
</plist>
