<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterScopeLeft</key>
	<string>grainValueHue</string>
	<key>consultativeDecorationPosition</key>
	<string>delegatePatternFlags</string>
	<key>delegateStyleVisibility</key>
	<string>timerAwayChain</string>
	<key>entityEnvironmentDirection</key>
	<string>smartDelegateIndex</string>
	<key>heapSingletonTint</key>
	<string>functionalZoneTheme</string>
	<key>managerContainTemple</key>
	<string>numericalAccessoryVisible</string>
	<key>pivotalCacheMomentum</key>
	<string>nodeTypeSpacing</string>
	<key>popupAndMemento</key>
	<string>projectionOrType</string>
</dict>
</plist>
