<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheFrameworkRotation</key>
	<string>elasticChartTail</string>
	<key>chapterDespiteOperation</key>
	<string>interactiveSubscriptionShade</string>
	<key>chartStateMode</key>
	<string>responsiveConstraintState</string>
	<key>crudeSinkShade</key>
	<string>sophisticatedResponseRotation</string>
	<key>pivotalStorageTag</key>
	<string>rectStrategyBehavior</string>
	<key>reducerInterpreterDensity</key>
	<string>slashBesideNumber</string>
	<key>retainedViewCount</key>
	<string>queueChainBottom</string>
	<key>sortedConstraintPosition</key>
	<string>chartPatternMargin</string>
	<key>spotAtType</key>
	<string>dimensionBufferRate</string>
	<key>subscriptionActivityOpacity</key>
	<string>concurrentNavigatorHead</string>
</dict>
</plist>
