<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncScrollState</key>
	<string>mutableWidgetSpeed</string>
	<key>eagerGemStatus</key>
	<string>agileControllerShade</string>
	<key>layoutDecoratorFeedback</key>
	<string>largeSpecifierOrigin</string>
	<key>layoutMethodDistance</key>
	<string>layoutAtAction</string>
	<key>overlayAtStructure</key>
	<string>activityExceptProxy</string>
	<key>routeAndSystem</key>
	<string>methodAsPhase</string>
	<key>vectorCommandShape</key>
	<string>projectionVarBorder</string>
</dict>
</plist>
