<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bulletObserverContrast</key>
	<string>sinkAtTemple</string>
	<key>coordinatorInsideScope</key>
	<string>slashFormTint</string>
	<key>enabledGradientSpeed</key>
	<string>localizationCommandVisibility</string>
</dict>
</plist>
