<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderAsDecorator</key>
	<string>gateThroughProxy</string>
	<key>cupertinoDescriptionOrigin</key>
	<string>significantProtocolCenter</string>
	<key>customizedCaptionDistance</key>
	<string>keyScaleOrigin</string>
	<key>pageviewBeyondSystem</key>
	<string>comprehensiveEventSkewx</string>
	<key>screenCommandHead</key>
	<string>mainSliderRate</string>
	<key>stampAwayProxy</key>
	<string>arithmeticAwayFramework</string>
	<key>variantBridgeDirection</key>
	<string>commonRepositoryOrientation</string>
	<key>zoneAgainstComposite</key>
	<string>mediaqueryUntilVisitor</string>
</dict>
</plist>
