<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetStructureDelay</key>
	<string>effectWithoutVar</string>
	<key>blocMementoDirection</key>
	<string>specifyOperationShade</string>
	<key>heapAboutPrototype</key>
	<string>capsuleViaLayer</string>
	<key>materialOperationTension</key>
	<string>queryTypeDuration</string>
	<key>musicLevelIndex</key>
	<string>responsiveMovementDistance</string>
	<key>widgetSinceOperation</key>
	<string>lossOutsideState</string>
</dict>
</plist>
