<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesBeyondFacade</key>
	<string>isolateAndForm</string>
	<key>concreteFrameRotation</key>
	<string>viewStrategySize</string>
	<key>coordinatorMethodDirection</key>
	<string>streamStrategySaturation</string>
	<key>crucialErrorHead</key>
	<string>notificationDuringPhase</string>
	<key>gesturedetectorFlyweightResponse</key>
	<string>gridAmongStage</string>
	<key>scrollableDependencyShade</key>
	<string>matrixPlatformMode</string>
	<key>smallShaderKind</key>
	<string>isolateProxyPadding</string>
	<key>topicInFlyweight</key>
	<string>histogramObserverBehavior</string>
</dict>
</plist>
