<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>extensionVariableVisible</key>
	<string>coordinatorVersusTier</string>
	<key>hyperbolicMomentumState</key>
	<string>activatedLogMargin</string>
	<key>localAllocatorTag</key>
	<string>constraintFrameworkKind</string>
	<key>newestTextureFlags</key>
	<string>utilFormInteraction</string>
	<key>providerFromVar</key>
	<string>asyncMobilePadding</string>
	<key>rowThroughMode</key>
	<string>comprehensiveTechniqueVisibility</string>
	<key>substantialDocumentTail</key>
	<string>elasticProjectionResponse</string>
	<key>temporaryBlocRate</key>
	<string>listenerAlongForm</string>
</dict>
</plist>
