<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaFunctionFormat</key>
	<string>alphaParameterRate</string>
	<key>assetExceptStructure</key>
	<string>streamValueColor</string>
	<key>asyncPatternHead</key>
	<string>builderVisitorVisible</string>
	<key>cardAroundType</key>
	<string>channelPerFunction</string>
	<key>containerTaskVisibility</key>
	<string>serviceAwayAdapter</string>
	<key>paddingPerCommand</key>
	<string>localTextTheme</string>
	<key>platePhaseBrightness</key>
	<string>transitionByParameter</string>
	<key>similarFactoryCount</key>
	<string>tappableInjectionDensity</string>
	<key>sortedQueueAppearance</key>
	<string>reducerPerPlatform</string>
</dict>
</plist>
