<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerDecoratorFeedback</key>
	<string>matrixStyleSaturation</string>
	<key>entityVersusPattern</key>
	<string>opaqueNotifierHead</string>
	<key>injectionStrategyTransparency</key>
	<string>challengeAroundMethod</string>
	<key>localizationCommandTint</key>
	<string>immediateReducerPosition</string>
	<key>loopParameterPosition</key>
	<string>singletonAroundTemple</string>
	<key>providerThanCommand</key>
	<string>tabviewIncludeValue</string>
</dict>
</plist>
