<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>geometricCosineRate</key>
	<string>reactiveOffsetLocation</string>
	<key>inactiveCaptionBound</key>
	<string>columnAsInterpreter</string>
	<key>nodeTaskTension</key>
	<string>listviewStyleOrientation</string>
	<key>priorRoleSaturation</key>
	<string>sensorAboutPrototype</string>
	<key>protectedMediaqueryHue</key>
	<string>tabbarAgainstBuffer</string>
	<key>segmentAtVisitor</key>
	<string>durationPatternTop</string>
	<key>singleBulletBrightness</key>
	<string>opaqueProviderOrientation</string>
	<key>statefulSpineOpacity</key>
	<string>titleThanPhase</string>
	<key>transformerMementoRate</key>
	<string>presenterAndCycle</string>
	<key>tweenThroughVar</key>
	<string>completionThroughObserver</string>
</dict>
</plist>
