<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composablePopupBottom</key>
	<string>statelessAlongPattern</string>
	<key>equalizationBeyondParam</key>
	<string>graphicLevelAlignment</string>
	<key>euclideanCollectionSkewx</key>
	<string>newestRadiusOrigin</string>
	<key>sizeIncludeProcess</key>
	<string>brushLevelShape</string>
	<key>subtleHistogramSaturation</key>
	<string>declarativeTabviewPosition</string>
</dict>
</plist>
