<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitStructureShape</key>
	<string>coordinatorForComposite</string>
	<key>mediaOutsideTemple</key>
	<string>concurrentGraphLocation</string>
	<key>progressbarDuringType</key>
	<string>mobileSystemBorder</string>
	<key>singleEventPadding</key>
	<string>sessionDuringFramework</string>
</dict>
</plist>
