<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalModulusBehavior</key>
	<string>awaitLayerValidation</string>
	<key>flexPhaseHue</key>
	<string>observerBufferShade</string>
	<key>loopParameterSpacing</key>
	<string>multiSinkTint</string>
	<key>rectOutsideEnvironment</key>
	<string>injectionDecoratorPadding</string>
	<key>sampleWorkPressure</key>
	<string>animationNearPhase</string>
	<key>singletonVisitorValidation</key>
	<string>screenPhaseSize</string>
</dict>
</plist>
