<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerAboutProcess</key>
	<string>gridviewTempleColor</string>
	<key>denseCursorMomentum</key>
	<string>accordionAsyncRight</string>
	<key>hardSwitchAppearance</key>
	<string>textIncludeState</string>
	<key>originalCubitForce</key>
	<string>gramVisitorIndex</string>
	<key>primaryControllerVelocity</key>
	<string>cellBufferOffset</string>
	<key>publicTransformerAppearance</key>
	<string>uniformScaffoldHead</string>
	<key>sliderLikeLayer</key>
	<string>modelLevelShade</string>
	<key>usageAndWork</key>
	<string>taskVisitorFrequency</string>
</dict>
</plist>
