<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleUsecaseBehavior</key>
	<string>playbackFrameworkStatus</string>
	<key>configurationPerStrategy</key>
	<string>resolverInterpreterTail</string>
	<key>enabledParticleCoord</key>
	<string>specifyCursorKind</string>
	<key>functionalSwiftScale</key>
	<string>specifierOutsideParameter</string>
	<key>interfaceStageKind</key>
	<string>sizeExceptAdapter</string>
	<key>mobileDelegateRate</key>
	<string>awaitOfContext</string>
	<key>taskVisitorName</key>
	<string>arithmeticOptimizerOpacity</string>
</dict>
</plist>
