<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentBridgeResponse</key>
	<string>lostLayoutPosition</string>
	<key>containerAmongAdapter</key>
	<string>catalystFromTier</string>
	<key>liteChannelVisibility</key>
	<string>completionStyleCoord</string>
	<key>repositoryAroundType</key>
	<string>mediaqueryAroundForm</string>
	<key>serviceInJob</key>
	<string>rowDuringPlatform</string>
</dict>
</plist>
