<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>immediateHashInset</key>
	<string>spriteAndNumber</string>
	<key>interpolationAgainstForm</key>
	<string>cosineTaskScale</string>
	<key>pivotalMapKind</key>
	<string>crucialAwaitStyle</string>
	<key>positionProcessCoord</key>
	<string>concreteArithmeticDirection</string>
	<key>resizableAnimatedcontainerRate</key>
	<string>movementAsComposite</string>
</dict>
</plist>
