<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>factoryScopeDuration</key>
	<string>resizableRouterDepth</string>
	<key>mediumContainerMargin</key>
	<string>indicatorVarTail</string>
	<key>relationalRepositoryAlignment</key>
	<string>liteFutureAcceleration</string>
	<key>unsortedWidgetSaturation</key>
	<string>tweenPerPhase</string>
</dict>
</plist>
