<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>contractionStyleScale</key>
	<string>eventThroughParam</string>
	<key>scrollCycleTop</key>
	<string>subtleCardRotation</string>
	<key>topicContainPattern</key>
	<string>popupVariableSaturation</string>
	<key>viewStructureInset</key>
	<string>queueNumberPosition</string>
</dict>
</plist>
