<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedTextInteraction</key>
	<string>significantResultCount</string>
	<key>mediaUntilFlyweight</key>
	<string>controllerAndJob</string>
	<key>methodOperationPosition</key>
	<string>directImageDensity</string>
	<key>projectAgainstLevel</key>
	<string>sensorBufferRate</string>
	<key>sophisticatedThreadMode</key>
	<string>segmentVisitorMomentum</string>
	<key>synchronousArithmeticBehavior</key>
	<string>skirtLayerMomentum</string>
	<key>textfieldCycleBound</key>
	<string>elasticLayerBehavior</string>
	<key>transformerSingletonAcceleration</key>
	<string>temporaryLabelTransparency</string>
</dict>
</plist>
