<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleBoxshadowCount</key>
	<string>shaderVisitorRotation</string>
	<key>hardContractionRate</key>
	<string>statelessOfFacade</string>
	<key>protectedGraphDuration</key>
	<string>spriteProxySaturation</string>
	<key>providerOperationAlignment</key>
	<string>borderStructureBottom</string>
</dict>
</plist>
