<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeServiceSize</key>
	<string>sortedLabelInterval</string>
	<key>constraintParamBorder</key>
	<string>graphicVersusComposite</string>
	<key>displayableGradientMode</key>
	<string>tabbarActivityTint</string>
	<key>liteTweenForce</key>
	<string>batchProcessPosition</string>
	<key>precisionVisitorOpacity</key>
	<string>usedColumnSize</string>
	<key>standaloneThreadRight</key>
	<string>bitrateProxyInteraction</string>
	<key>subsequentCertificateBorder</key>
	<string>mediocreRiverpodPosition</string>
</dict>
</plist>
