<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxFunctionKind</key>
	<string>routerProxyDepth</string>
	<key>catalystProxyDepth</key>
	<string>constraintIncludeLayer</string>
	<key>commandSinceFramework</key>
	<string>statefulChallengeValidation</string>
	<key>contractionInsideFramework</key>
	<string>textLikeForm</string>
	<key>intuitiveSpriteHue</key>
	<string>customizedTaskEdge</string>
	<key>nextSpriteRate</key>
	<string>titleTaskMargin</string>
	<key>normalNormDuration</key>
	<string>graphStrategyTop</string>
	<key>spriteAroundMediator</key>
	<string>multiBuilderPosition</string>
	<key>widgetKindOrientation</key>
	<string>queryExceptKind</string>
</dict>
</plist>
