<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>errorAsFunction</key>
	<string>ignoredStepOrientation</string>
	<key>factoryDespiteAdapter</key>
	<string>momentumParamSaturation</string>
	<key>handlerThanProxy</key>
	<string>consultativeVectorInteraction</string>
	<key>lossMethodInset</key>
	<string>interactiveRequestKind</string>
	<key>progressbarPatternInteraction</key>
	<string>offsetCycleBottom</string>
	<key>sliderAtMethod</key>
	<string>displayableProgressbarAlignment</string>
</dict>
</plist>
