<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerProjectHue</key>
	<string>mobileBridgeScale</string>
	<key>grainSinceChain</key>
	<string>responsiveTickerName</string>
	<key>keyAsyncColor</key>
	<string>containerFlyweightState</string>
	<key>responsiveDurationVisible</key>
	<string>certificateAroundPlatform</string>
</dict>
</plist>
