<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousGradientMargin</key>
	<string>prismaticCompleterVisibility</string>
	<key>descriptionFunctionIndex</key>
	<string>richtextVersusLayer</string>
	<key>integerByVar</key>
	<string>touchForStrategy</string>
	<key>lazyBufferShade</key>
	<string>eventPerJob</string>
	<key>pageviewThroughPlatform</key>
	<string>monsterThroughPattern</string>
	<key>pageviewUntilStrategy</key>
	<string>concreteQueueTension</string>
	<key>sophisticatedReducerDelay</key>
	<string>decorationContainFunction</string>
	<key>usecaseFromPrototype</key>
	<string>transitionViaPrototype</string>
</dict>
</plist>
