<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicPlaybackBound</key>
	<string>webLayoutFrequency</string>
	<key>ephemeralLabelMargin</key>
	<string>sustainableMobxCoord</string>
	<key>lazyGetxShape</key>
	<string>agileStackDistance</string>
	<key>normInFlyweight</key>
	<string>activeRadioAppearance</string>
	<key>popupContainActivity</key>
	<string>currentTernaryState</string>
</dict>
</plist>
