<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxAmongContext</key>
	<string>cellAmongSingleton</string>
	<key>cubitAgainstBuffer</key>
	<string>accessibleManagerVelocity</string>
	<key>ignoredControllerVelocity</key>
	<string>materialAllocatorHead</string>
	<key>lastZoneSize</key>
	<string>imageAboutBuffer</string>
	<key>mediumSpecifierForce</key>
	<string>grayscaleThroughCycle</string>
	<key>rectMediatorAlignment</key>
	<string>multiplicationAwayVariable</string>
	<key>reducerChainRate</key>
	<string>listenerContainState</string>
	<key>richtextAsActivity</key>
	<string>columnAlongOperation</string>
	<key>statelessForValue</key>
	<string>criticalOperationBorder</string>
	<key>streamNumberForce</key>
	<string>viewAboutValue</string>
</dict>
</plist>
