<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineUntilTemple</key>
	<string>durationFacadePosition</string>
	<key>constAnchorSkewx</key>
	<string>blocWithoutParam</string>
	<key>curveInsideMediator</key>
	<string>accordionDrawerOrientation</string>
	<key>diversifiedControllerFrequency</key>
	<string>controllerPrototypeMargin</string>
	<key>inkwellFlyweightFormat</key>
	<string>criticalUsecaseCoord</string>
	<key>materialMementoOpacity</key>
	<string>animationForSystem</string>
	<key>mobileBorderHue</key>
	<string>batchLikeShape</string>
	<key>nibPhaseTheme</key>
	<string>graphicCompositeOffset</string>
	<key>toolTypeDirection</key>
	<string>gesturedetectorAmongTier</string>
	<key>widgetIncludeFunction</key>
	<string>queueWithJob</string>
</dict>
</plist>
