<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ignoredOptionTransparency</key>
	<string>expandedBeyondFlyweight</string>
	<key>mediocreLayerBrightness</key>
	<string>histogramNearParameter</string>
	<key>missionStyleScale</key>
	<string>cosinePatternSize</string>
	<key>normExceptState</key>
	<string>sortedResultOrientation</string>
	<key>resizableCompleterCoord</key>
	<string>enabledManagerValidation</string>
	<key>responsiveContainerForce</key>
	<string>spotInContext</string>
	<key>rowPatternAcceleration</key>
	<string>originalConstraintMargin</string>
	<key>sortedConfigurationShade</key>
	<string>cosineAndChain</string>
	<key>statefulBeyondFramework</key>
	<string>previewStyleBound</string>
</dict>
</plist>
