<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousAssetForce</key>
	<string>prismaticMasterShade</string>
	<key>buttonAlongComposite</key>
	<string>screenValueCenter</string>
	<key>cacheNearStructure</key>
	<string>taskAsCommand</string>
	<key>capacitiesInTier</key>
	<string>logarithmValueOpacity</string>
	<key>immutableIsolateIndex</key>
	<string>plateWithoutVisitor</string>
	<key>navigatorLikeJob</key>
	<string>immutableRichtextBrightness</string>
	<key>projectExceptStyle</key>
	<string>liteDurationTheme</string>
	<key>unsortedSceneFormat</key>
	<string>singleDurationCount</string>
</dict>
</plist>
