<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardProjectionBehavior</key>
	<string>globalVariantInteraction</string>
	<key>borderTemplePosition</key>
	<string>asyncContextRotation</string>
	<key>bufferWithoutInterpreter</key>
	<string>stampFrameworkStyle</string>
	<key>imageSingletonColor</key>
	<string>prevSizePadding</string>
	<key>rowExceptPattern</key>
	<string>usecaseIncludeScope</string>
</dict>
</plist>
