<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedSignRight</key>
	<string>baselineDuringPattern</string>
	<key>bulletThroughInterpreter</key>
	<string>lazyCharacterMode</string>
	<key>currentStoreTransparency</key>
	<string>injectionContainType</string>
	<key>intermediateCustompaintCoord</key>
	<string>promiseAndParam</string>
	<key>missionParamTop</key>
	<string>commonSliderForce</string>
	<key>oldListviewPressure</key>
	<string>gateEnvironmentCount</string>
</dict>
</plist>
