<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitNearBridge</key>
	<string>buttonLevelBottom</string>
	<key>radiusFrameworkVisible</key>
	<string>usageViaMediator</string>
	<key>taskEnvironmentMomentum</key>
	<string>cosinePlatformSkewy</string>
	<key>transitionViaActivity</key>
	<string>scrollableGraphDirection</string>
	<key>tweenByFacade</key>
	<string>fusedNavigatorFormat</string>
</dict>
</plist>
