<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerSensorBorder</key>
	<string>tangentSystemTail</string>
	<key>featureFromChain</key>
	<string>callbackAndKind</string>
	<key>lostDropdownbuttonValidation</key>
	<string>significantZoneMomentum</string>
	<key>resourceThroughVisitor</key>
	<string>scaleShapeTheme</string>
	<key>resourceTypeType</key>
	<string>techniqueDespiteVariable</string>
</dict>
</plist>
