<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredManagerName</key>
	<string>musicActivityMode</string>
	<key>delegateKindHue</key>
	<string>composableMediaTension</string>
	<key>descriptorVersusActivity</key>
	<string>usecaseUntilMode</string>
	<key>lazyHistogramColor</key>
	<string>statefulButtonCenter</string>
	<key>localizationProcessMargin</key>
	<string>layoutVisitorHead</string>
	<key>matrixNumberShape</key>
	<string>monsterDespiteScope</string>
	<key>persistentPetAppearance</key>
	<string>reactiveConstraintScale</string>
	<key>popupAlongForm</key>
	<string>scrollContainStyle</string>
	<key>taskContainShape</key>
	<string>instructionLikeVar</string>
	<key>themeOrMode</key>
	<string>resourceVarPosition</string>
</dict>
</plist>
