<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelIncludeFramework</key>
	<string>rowCycleRight</string>
	<key>dynamicGridSpeed</key>
	<string>controllerAndScope</string>
	<key>listenerValueAlignment</key>
	<string>completerLevelTint</string>
	<key>logAboutPhase</key>
	<string>stampAboutEnvironment</string>
	<key>mobxAwayComposite</key>
	<string>bufferFormCenter</string>
	<key>navigatorAtMemento</key>
	<string>positionedFacadeOrigin</string>
	<key>rowFormIndex</key>
	<string>hyperbolicGestureRotation</string>
	<key>sizeAboutForm</key>
	<string>storageViaMediator</string>
	<key>tablePlatformTag</key>
	<string>symbolVarRate</string>
</dict>
</plist>
