<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocVarHue</key>
	<string>compositionalIndicatorDelay</string>
	<key>exponentMethodType</key>
	<string>delegateContextVisibility</string>
	<key>framePrototypeSize</key>
	<string>disparateScrollContrast</string>
	<key>nativeAllocatorPosition</key>
	<string>tweenWorkMode</string>
	<key>persistentModulusLocation</key>
	<string>tweenAboutLevel</string>
	<key>positionWithCycle</key>
	<string>gridviewTaskRight</string>
	<key>resolverAtVisitor</key>
	<string>giftStyleColor</string>
	<key>sinkLikeStructure</key>
	<string>missedIconPosition</string>
</dict>
</plist>
