<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lazyInjectionVisibility</key>
	<string>intuitiveModulusDuration</string>
	<key>lossFacadeCoord</key>
	<string>taskChainFormat</string>
	<key>mediumOverlayTail</key>
	<string>gridviewThanWork</string>
</dict>
</plist>
