<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncValueDuration</key>
	<string>unactivatedListviewCount</string>
	<key>chapterExceptProcess</key>
	<string>grayscaleAroundParameter</string>
	<key>completerInsideMode</key>
	<string>missionAroundJob</string>
	<key>gridAtVar</key>
	<string>advancedRadiusInterval</string>
	<key>nibObserverPressure</key>
	<string>localDependencySpacing</string>
	<key>plateSinceVisitor</key>
	<string>symmetricExpandedFrequency</string>
</dict>
</plist>
