<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedRouterTag</key>
	<string>buttonPlatformBrightness</string>
	<key>baselineDuringProcess</key>
	<string>sliderActivityRotation</string>
	<key>callbackWorkMode</key>
	<string>channelPhaseBrightness</string>
	<key>cartesianRichtextHue</key>
	<string>constraintWorkAcceleration</string>
	<key>criticalStackOrigin</key>
	<string>layerFacadeKind</string>
	<key>persistentGestureColor</key>
	<string>asyncPainterVelocity</string>
	<key>spriteStrategyRate</key>
	<string>crudeAnimationShape</string>
	<key>tabviewDuringFramework</key>
	<string>directAlignmentSpeed</string>
	<key>transitionSinceStrategy</key>
	<string>decorationPerWork</string>
</dict>
</plist>
