<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>crudeHandlerMargin</key>
	<string>elasticTransformerDirection</string>
	<key>curveVarBottom</key>
	<string>disabledGramHue</string>
	<key>drawerInsideParameter</key>
	<string>sceneTaskStyle</string>
	<key>entityNearPlatform</key>
	<string>futureExceptFunction</string>
	<key>flexibleTopicAlignment</key>
	<string>eventAboutSystem</string>
	<key>interactorFacadeInset</key>
	<string>effectFormShade</string>
	<key>presenterFacadeRate</key>
	<string>storageUntilVar</string>
	<key>resourceOfForm</key>
	<string>cursorMethodInterval</string>
	<key>statelessBuilderMargin</key>
	<string>asynchronousSpriteOffset</string>
	<key>storyboardLikeType</key>
	<string>sophisticatedPreviewDepth</string>
</dict>
</plist>
