<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryAboutLayer</key>
	<string>reducerContextFormat</string>
	<key>blocAdapterSpacing</key>
	<string>clipperAsPhase</string>
	<key>permissiveConstraintVisibility</key>
	<string>radiusSystemFormat</string>
	<key>petSystemDuration</key>
	<string>relationalIntensityAlignment</string>
	<key>queryWithoutJob</key>
	<string>enabledLoopShape</string>
	<key>titleEnvironmentTag</key>
	<string>viewScopeStatus</string>
</dict>
</plist>
