<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationKindVelocity</key>
	<string>builderCycleLeft</string>
	<key>gradientOrEnvironment</key>
	<string>semanticConstraintRotation</string>
	<key>graphicObserverBorder</key>
	<string>directlyResponseTop</string>
	<key>offsetByAction</key>
	<string>imageAboutInterpreter</string>
	<key>sceneJobCoord</key>
	<string>batchFromAction</string>
</dict>
</plist>
