<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellContextCount</key>
	<string>criticalMediaTension</string>
	<key>denseFragmentInterval</key>
	<string>histogramCompositeSkewx</string>
	<key>lastCheckboxPosition</key>
	<string>binarySystemFeedback</string>
	<key>lostReducerFrequency</key>
	<string>asyncEntityMode</string>
	<key>mutableWidgetStatus</key>
	<string>functionalChartContrast</string>
	<key>positionedJobDepth</key>
	<string>delegateUntilComposite</string>
	<key>statefulCapsuleColor</key>
	<string>gradientAtCommand</string>
	<key>tabviewSystemCenter</key>
	<string>comprehensiveInteractorTail</string>
</dict>
</plist>
