<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellTypeDirection</key>
	<string>custompaintSinceFlyweight</string>
	<key>durationObserverEdge</key>
	<string>bulletProcessFlags</string>
	<key>pageviewLayerTag</key>
	<string>switchTierTension</string>
	<key>roleThanProxy</key>
	<string>draggableStreamInset</string>
	<key>temporarySceneSkewx</key>
	<string>sliderForContext</string>
	<key>textInFramework</key>
	<string>aspectAgainstLevel</string>
	<key>usecaseTypeVisible</key>
	<string>promiseTypeMode</string>
</dict>
</plist>
