<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationContextMode</key>
	<string>eagerSymbolVelocity</string>
	<key>frameWithoutProxy</key>
	<string>overlaySinceFacade</string>
	<key>fusedBehaviorDuration</key>
	<string>concreteFlexSpeed</string>
	<key>reactiveAlertFormat</key>
	<string>rowJobCenter</string>
	<key>resourceStructureState</key>
	<string>catalystMediatorPosition</string>
	<key>sineInsideLevel</key>
	<string>errorNumberTheme</string>
	<key>stepOutsideCommand</key>
	<string>coordinatorFlyweightShade</string>
	<key>symbolThanVariable</key>
	<string>firstUtilTension</string>
</dict>
</plist>
