<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>capacitiesNearPrototype</key>
	<string>currentStateCount</string>
	<key>configurationWithoutStage</key>
	<string>arithmeticStyleBorder</string>
	<key>directMethodDepth</key>
	<string>inactiveInjectionIndex</string>
	<key>independentCosineVelocity</key>
	<string>usecaseStageStyle</string>
	<key>pinchableEquipmentRotation</key>
	<string>visibleResourceAcceleration</string>
	<key>subtleMediaqueryRight</key>
	<string>uniformLayoutSaturation</string>
</dict>
</plist>
