<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cellUntilShape</key>
	<string>controllerTypeBound</string>
	<key>configurationMediatorOrientation</key>
	<string>monsterCommandMode</string>
	<key>constraintAsBridge</key>
	<string>activeHeapFormat</string>
	<key>dialogsByValue</key>
	<string>loopByKind</string>
	<key>missionThanFunction</key>
	<string>resilientNotifierEdge</string>
	<key>radiusBeyondPattern</key>
	<string>sequentialInkwellStyle</string>
	<key>responseIncludeAction</key>
	<string>ephemeralSlashSkewy</string>
	<key>robustResponseDirection</key>
	<string>requiredBoxPressure</string>
	<key>textDecoratorFormat</key>
	<string>mediumCursorTransparency</string>
</dict>
</plist>
