<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeTransitionColor</key>
	<string>backwardPositionedKind</string>
	<key>blocBeyondPrototype</key>
	<string>radiusLikeTier</string>
	<key>certificateKindOpacity</key>
	<string>lazySizedboxInteraction</string>
	<key>contractionDespiteOperation</key>
	<string>usecaseCommandKind</string>
	<key>dedicatedAnimatedcontainerPadding</key>
	<string>canvasProxyAcceleration</string>
	<key>gateAboutPlatform</key>
	<string>factoryPhaseTransparency</string>
	<key>graphVersusParameter</key>
	<string>layerByMode</string>
	<key>prevTabviewDepth</key>
	<string>primaryDependencyInteraction</string>
	<key>sizedboxAgainstStrategy</key>
	<string>binaryShapeSize</string>
	<key>zoneChainPosition</key>
	<string>requestLikeObserver</string>
</dict>
</plist>
