<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>expandedParamBottom</key>
	<string>desktopAsyncTail</string>
	<key>notifierBeyondStrategy</key>
	<string>assetValueDuration</string>
	<key>originalInstructionBound</key>
	<string>statelessNodeEdge</string>
	<key>singletonAsState</key>
	<string>missionCycleTransparency</string>
</dict>
</plist>
