<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorObserverShape</key>
	<string>specifyBaselineTag</string>
	<key>associatedWidgetDelay</key>
	<string>graphMethodForce</string>
	<key>callbackCompositeOffset</key>
	<string>sizeCycleFormat</string>
	<key>cosineWithAdapter</key>
	<string>listenerOfValue</string>
	<key>customizedResourceInteraction</key>
	<string>tweenStageTop</string>
	<key>entityWithLevel</key>
	<string>inheritedCharacterFlags</string>
	<key>metadataExceptStyle</key>
	<string>cyclePatternLeft</string>
	<key>pivotalDependencyStyle</key>
	<string>directProjectTail</string>
	<key>symmetricPaddingDelay</key>
	<string>cupertinoChartPosition</string>
</dict>
</plist>
