<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelInMode</key>
	<string>normWithVariable</string>
	<key>exponentExceptTemple</key>
	<string>adaptiveOffsetTop</string>
	<key>inactiveChannelResponse</key>
	<string>drawerParameterMomentum</string>
	<key>newestGestureAcceleration</key>
	<string>tabbarTempleRight</string>
	<key>queryJobStyle</key>
	<string>sliderThanCycle</string>
	<key>semanticsActivitySkewx</key>
	<string>invisibleProjectInterval</string>
	<key>spotNumberDuration</key>
	<string>bufferMethodOpacity</string>
</dict>
</plist>
