<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryNearValue</key>
	<string>utilModeBrightness</string>
	<key>controllerAsChain</key>
	<string>resourceThroughAction</string>
	<key>difficultMenuMargin</key>
	<string>reductionFunctionAcceleration</string>
	<key>disparateFactoryCount</key>
	<string>masterInterpreterMode</string>
	<key>queryOfValue</key>
	<string>missionActionSkewy</string>
	<key>resolverMethodRight</key>
	<string>controllerObserverDepth</string>
	<key>skinEnvironmentLeft</key>
	<string>usageFlyweightShade</string>
	<key>topicPlatformScale</key>
	<string>providerWorkDepth</string>
	<key>typicalExpandedMode</key>
	<string>hierarchicalAspectBehavior</string>
</dict>
</plist>
