<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocInsideBridge</key>
	<string>drawerMediatorBound</string>
	<key>flexValueDensity</key>
	<string>callbackEnvironmentPosition</string>
	<key>prevDependencyBrightness</key>
	<string>injectionAlongContext</string>
	<key>protocolStateBorder</key>
	<string>permanentChallengeTint</string>
</dict>
</plist>
