<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dependencyAgainstTier</key>
	<string>skirtAtComposite</string>
	<key>easyCurveState</key>
	<string>gridviewObserverBrightness</string>
	<key>featureActionPadding</key>
	<string>mobileAspectratioSpacing</string>
	<key>logarithmMediatorDepth</key>
	<string>scrollObserverBound</string>
	<key>lossAboutJob</key>
	<string>particleAlongJob</string>
	<key>singletonTempleName</key>
	<string>globalClipperSpeed</string>
</dict>
</plist>
