<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionForMemento</key>
	<string>threadVarMode</string>
	<key>delicateDurationResponse</key>
	<string>extensionOperationKind</string>
	<key>mediumDurationInterval</key>
	<string>configurationSinceProcess</string>
	<key>navigatorLikeParam</key>
	<string>animationOperationCoord</string>
	<key>overlayStylePosition</key>
	<string>usecaseMethodInterval</string>
	<key>permissiveSinkFrequency</key>
	<string>diffableFutureScale</string>
	<key>radiusByPattern</key>
	<string>radiusAmongStrategy</string>
	<key>stampAboutAdapter</key>
	<string>dialogsForSingleton</string>
</dict>
</plist>
