<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterStrategyTension</key>
	<string>significantClipperResponse</string>
	<key>exceptionAwayActivity</key>
	<string>associatedCollectionStatus</string>
	<key>opaqueBuilderFormat</key>
	<string>cubitNumberColor</string>
	<key>resourceInsideProxy</key>
	<string>mediocreFrameAlignment</string>
	<key>scaffoldScopeSaturation</key>
	<string>stepContextCoord</string>
</dict>
</plist>
