<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channelActionSkewx</key>
	<string>delicateCubeInterval</string>
	<key>immutableHashIndex</key>
	<string>liteDecorationShade</string>
	<key>loopParamOpacity</key>
	<string>opaqueCompleterContrast</string>
	<key>persistentStorageTail</key>
	<string>matrixAsActivity</string>
	<key>responsiveApertureFeedback</key>
	<string>viewThanBridge</string>
	<key>segmentVarHead</key>
	<string>alignmentMediatorTension</string>
	<key>significantPlateOpacity</key>
	<string>basicReferenceTension</string>
	<key>utilKindRate</key>
	<string>sessionTaskTint</string>
</dict>
</plist>
