<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertDuringVisitor</key>
	<string>semanticBlocBound</string>
	<key>denseFutureFeedback</key>
	<string>cursorAmongMethod</string>
	<key>effectBesidePrototype</key>
	<string>independentBrushDistance</string>
	<key>ignoredActionFlags</key>
	<string>deferredTaskOpacity</string>
	<key>menuLayerSkewx</key>
	<string>mobxNearFlyweight</string>
	<key>nibNearStage</key>
	<string>firstDialogsTail</string>
	<key>reductionCommandHue</key>
	<string>elasticSymbolDepth</string>
	<key>sliderCommandBrightness</key>
	<string>accordionMobxDensity</string>
	<key>titleAndNumber</key>
	<string>radioStateDistance</string>
	<key>viewSinceTask</key>
	<string>directlyListenerCenter</string>
</dict>
</plist>
