<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>callbackAndOperation</key>
	<string>transitionBeyondParameter</string>
	<key>handlerAmongParam</key>
	<string>intermediateSubpixelSize</string>
	<key>localModelPadding</key>
	<string>mapActionColor</string>
	<key>resilientSubpixelDirection</key>
	<string>chartMethodPadding</string>
</dict>
</plist>
