<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeModelFlags</key>
	<string>mediocrePetFlags</string>
	<key>drawerOutsideType</key>
	<string>eventContextMomentum</string>
	<key>gesturedetectorVisitorLeft</key>
	<string>standaloneCubitTail</string>
	<key>intuitiveObserverIndex</key>
	<string>semanticsTierTag</string>
	<key>mediocreSignSpacing</key>
	<string>arithmeticResourceHead</string>
	<key>movementAboutInterpreter</key>
	<string>priorPriorityTension</string>
	<key>titleChainHead</key>
	<string>declarativeGrayscaleSkewx</string>
	<key>transitionAsWork</key>
	<string>inheritedSpotMode</string>
</dict>
</plist>
