<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintCompositeStatus</key>
	<string>resultBeyondType</string>
	<key>consultativeOverlayEdge</key>
	<string>threadStateOrientation</string>
	<key>coordinatorWithoutShape</key>
	<string>agileWidgetSize</string>
	<key>getxInsideSingleton</key>
	<string>hardLabelEdge</string>
	<key>inactiveRequestMargin</key>
	<string>prismaticDropdownbuttonIndex</string>
	<key>pinchableBaselinePosition</key>
	<string>eventMediatorPosition</string>
	<key>positionThroughProcess</key>
	<string>prevRouteVelocity</string>
	<key>tickerVersusStyle</key>
	<string>disparateCurvePadding</string>
</dict>
</plist>
