<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apertureIncludeChain</key>
	<string>viewBesideProxy</string>
	<key>blocIncludeScope</key>
	<string>particleValueKind</string>
	<key>inkwellBufferHead</key>
	<string>zoneContainKind</string>
</dict>
</plist>
