<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystBridgeScale</key>
	<string>remainderCommandOpacity</string>
	<key>commandEnvironmentShape</key>
	<string>visibleMediaqueryStyle</string>
	<key>invisibleRemainderInteraction</key>
	<string>instructionStateFeedback</string>
	<key>originalCaptionAcceleration</key>
	<string>activatedActionIndex</string>
	<key>viewParamTop</key>
	<string>cupertinoVersusFlyweight</string>
	<key>widgetMediatorLeft</key>
	<string>prevCoordinatorCount</string>
</dict>
</plist>
