<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedDecorationDistance</key>
	<string>stackIncludeTemple</string>
	<key>observerTempleOrigin</key>
	<string>optionViaJob</string>
	<key>priorMonsterHead</key>
	<string>persistentCollectionHue</string>
	<key>queuePatternSpeed</key>
	<string>hashOrNumber</string>
	<key>scrollExceptFacade</key>
	<string>behaviorStageCount</string>
	<key>singleAsyncShade</key>
	<string>completerScopeMomentum</string>
	<key>skirtVisitorAcceleration</key>
	<string>menuValueSkewy</string>
	<key>smartCapacitiesOffset</key>
	<string>alignmentAboutVariable</string>
</dict>
</plist>
