<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationLayerName</key>
	<string>resourceFlyweightContrast</string>
	<key>futureAwayInterpreter</key>
	<string>hashSingletonLeft</string>
	<key>pinchableEffectOpacity</key>
	<string>providerOutsideVisitor</string>
	<key>relationalHandlerState</key>
	<string>logViaFramework</string>
	<key>transformerPerState</key>
	<string>missedPromiseBottom</string>
</dict>
</plist>
