<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSpecifierResponse</key>
	<string>radiusProxyRotation</string>
	<key>customizedTechniqueMode</key>
	<string>requiredResourcePadding</string>
	<key>errorStateMomentum</key>
	<string>errorValueSize</string>
	<key>iterativeProgressbarPadding</key>
	<string>featureTierMomentum</string>
	<key>logarithmObserverSpacing</key>
	<string>nodeFrameworkFlags</string>
	<key>secondHashState</key>
	<string>isolateLikeBridge</string>
	<key>sortedContractionTransparency</key>
	<string>serviceTaskPressure</string>
	<key>storeAmongLayer</key>
	<string>permanentTabbarDistance</string>
</dict>
</plist>
