<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineAsLayer</key>
	<string>behaviorViaValue</string>
	<key>cardPerMemento</key>
	<string>observerLikeFlyweight</string>
	<key>crudeAnimationAlignment</key>
	<string>singleListenerLocation</string>
	<key>curveFacadeFlags</key>
	<string>baseBeyondCommand</string>
	<key>inheritedHeapDelay</key>
	<string>stateWorkOpacity</string>
	<key>kernelInVariable</key>
	<string>menuMediatorSize</string>
	<key>signatureAlongForm</key>
	<string>fragmentPrototypeDensity</string>
	<key>statelessStoreDensity</key>
	<string>materialTextureOrientation</string>
	<key>topicWithoutPrototype</key>
	<string>checklistAtSystem</string>
	<key>viewPerOperation</key>
	<string>callbackAndAdapter</string>
</dict>
</plist>
