<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterJobFrequency</key>
	<string>interactiveGraphVisibility</string>
	<key>isolateBufferMomentum</key>
	<string>callbackCommandDepth</string>
	<key>mediumProjectionPadding</key>
	<string>sophisticatedButtonOffset</string>
	<key>nextIsolateOrientation</key>
	<string>gramExceptCommand</string>
	<key>operationLevelBehavior</key>
	<string>workflowTempleOffset</string>
	<key>permanentTextureHead</key>
	<string>buttonStateDuration</string>
	<key>routerByTask</key>
	<string>expandedSinceProxy</string>
	<key>slashTierBehavior</key>
	<string>listenerNearBridge</string>
	<key>tabviewFromFlyweight</key>
	<string>textFromOperation</string>
</dict>
</plist>
