<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorFromMode</key>
	<string>accessibleSkinTint</string>
	<key>assetKindTransparency</key>
	<string>directCommandRate</string>
	<key>cellPerPattern</key>
	<string>statelessVersusParameter</string>
	<key>descriptionInContext</key>
	<string>permanentTransitionFrequency</string>
	<key>durationValueName</key>
	<string>observerLevelRate</string>
	<key>greatResolverBound</key>
	<string>remainderParamTransparency</string>
	<key>notificationVersusShape</key>
	<string>streamStateTension</string>
	<key>observerAboutSingleton</key>
	<string>listenerDecoratorDirection</string>
	<key>reductionBufferDuration</key>
	<string>hashUntilJob</string>
	<key>spineCycleInset</key>
	<string>presenterLikeLevel</string>
</dict>
</plist>
