<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyChannelCoord</key>
	<string>commonIconAppearance</string>
	<key>elasticSampleResponse</key>
	<string>behaviorProxyInset</string>
	<key>intensityValueDirection</key>
	<string>effectAlongMethod</string>
	<key>resultTypePosition</key>
	<string>sizeForParameter</string>
	<key>titleSincePattern</key>
	<string>ternaryWithVariable</string>
	<key>unactivatedFutureFormat</key>
	<string>configurationAlongForm</string>
</dict>
</plist>
