<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisParameterBehavior</key>
	<string>directlyRepositoryState</string>
	<key>captionCycleType</key>
	<string>gramAdapterContrast</string>
	<key>catalystDecoratorMode</key>
	<string>semanticAssetOrientation</string>
	<key>independentGiftLocation</key>
	<string>largeBufferHue</string>
	<key>labelIncludeKind</key>
	<string>offsetAboutSingleton</string>
	<key>listenerContainFacade</key>
	<string>publicRectDepth</string>
</dict>
</plist>
