<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterFormVisible</key>
	<string>normAsPrototype</string>
	<key>completionByNumber</key>
	<string>semanticsStyleBorder</string>
	<key>gramPhaseAcceleration</key>
	<string>disabledSymbolTheme</string>
	<key>reducerPlatformType</key>
	<string>notifierParamAppearance</string>
	<key>reductionIncludeComposite</key>
	<string>observerContainSystem</string>
	<key>richtextDuringPattern</key>
	<string>mediaTierScale</string>
	<key>symbolModeDistance</key>
	<string>sceneNumberRight</string>
	<key>threadPlatformSkewy</key>
	<string>criticalArithmeticBrightness</string>
	<key>vectorAlongContext</key>
	<string>cubitAlongMethod</string>
	<key>visibleInjectionPadding</key>
	<string>containerUntilInterpreter</string>
</dict>
</plist>
