<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalButtonDensity</key>
	<string>autoTimerMode</string>
	<key>inheritedStateHue</key>
	<string>loopInsideWork</string>
	<key>methodTypeColor</key>
	<string>immutableTechniqueTop</string>
	<key>providerStyleVisible</key>
	<string>switchVarMode</string>
	<key>responsiveUsecaseEdge</key>
	<string>intensityShapeForce</string>
	<key>sceneAgainstCommand</key>
	<string>keyHeroCenter</string>
	<key>variantByEnvironment</key>
	<string>largeRequestDelay</string>
</dict>
</plist>
