<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerInsideFacade</key>
	<string>modulusExceptStyle</string>
	<key>custompaintTypeStyle</key>
	<string>intuitiveRepositoryBorder</string>
	<key>flexibleBufferBound</key>
	<string>heroBySingleton</string>
	<key>layerTempleInteraction</key>
	<string>zoneVersusValue</string>
	<key>loopFrameworkName</key>
	<string>difficultConsumerTop</string>
	<key>optionDuringStructure</key>
	<string>coordinatorViaComposite</string>
	<key>originalDecorationKind</key>
	<string>chapterEnvironmentInterval</string>
	<key>prevEffectTail</key>
	<string>spriteBufferForce</string>
	<key>scrollUntilJob</key>
	<string>cupertinoAnimatedcontainerAlignment</string>
	<key>shaderAboutKind</key>
	<string>spriteWorkContrast</string>
</dict>
</plist>
