<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetInsideAdapter</key>
	<string>drawerOutsideComposite</string>
	<key>cartesianTaskBound</key>
	<string>documentPatternForce</string>
	<key>mediaJobResponse</key>
	<string>autoFactoryResponse</string>
	<key>pointProxyPressure</key>
	<string>sliderDespiteStyle</string>
	<key>referenceSinceSystem</key>
	<string>popupScopeLeft</string>
</dict>
</plist>
