<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentFormDensity</key>
	<string>animationDuringChain</string>
	<key>animatedNibTail</key>
	<string>secondCertificateSkewy</string>
	<key>animationInDecorator</key>
	<string>otherReductionBrightness</string>
	<key>crucialStatelessResponse</key>
	<string>errorTempleHead</string>
	<key>diversifiedTextContrast</key>
	<string>coordinatorVariableShade</string>
	<key>nodeActionInteraction</key>
	<string>positionedPlatformShape</string>
	<key>reusableErrorTension</key>
	<string>tweenProcessValidation</string>
	<key>sensorNearMemento</key>
	<string>normFromAction</string>
</dict>
</plist>
