<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentSinceStrategy</key>
	<string>layoutParameterSkewy</string>
	<key>baseNearForm</key>
	<string>musicDespiteMemento</string>
	<key>channelsContainBridge</key>
	<string>hardWorkflowName</string>
	<key>drawerFormState</key>
	<string>otherAlphaTop</string>
	<key>metadataWithoutDecorator</key>
	<string>backwardRouterBound</string>
	<key>projectWithoutSystem</key>
	<string>bulletStyleBorder</string>
	<key>rowPrototypeOpacity</key>
	<string>scaffoldPlatformFlags</string>
	<key>variantSystemName</key>
	<string>cubitVarDensity</string>
</dict>
</plist>
