<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>injectionStageFlags</key>
	<string>imperativePriorityDirection</string>
	<key>permissiveCacheType</key>
	<string>cupertinoPrototypeRotation</string>
	<key>popupActivityDuration</key>
	<string>euclideanTextOpacity</string>
	<key>radioPatternInteraction</key>
	<string>layoutLikeBuffer</string>
	<key>shaderCycleResponse</key>
	<string>storageByProcess</string>
</dict>
</plist>
