<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocDuringOperation</key>
	<string>cubitStructureBorder</string>
	<key>contractionWorkPadding</key>
	<string>normAlongShape</string>
	<key>fixedNodeType</key>
	<string>durationJobDensity</string>
	<key>inkwellPerSystem</key>
	<string>viewBeyondPrototype</string>
	<key>interactorBeyondWork</key>
	<string>responseVarCount</string>
	<key>spineExceptOperation</key>
	<string>themeLikeCycle</string>
	<key>stampWithoutType</key>
	<string>textureShapeRate</string>
	<key>transitionInterpreterDirection</key>
	<string>observerPatternPosition</string>
	<key>typicalPetName</key>
	<string>controllerAtShape</string>
	<key>vectorPhaseAppearance</key>
	<string>behaviorJobPressure</string>
</dict>
</plist>
