<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>heapUntilWork</key>
	<string>largeBlocDirection</string>
	<key>listenerNearWork</key>
	<string>handlerSinceStrategy</string>
	<key>pageviewActionOpacity</key>
	<string>delicateDelegateRotation</string>
	<key>signMethodTension</key>
	<string>resultParameterMomentum</string>
	<key>streamFromType</key>
	<string>tweenAndFunction</string>
	<key>usedCompleterCoord</key>
	<string>getxLayerLeft</string>
</dict>
</plist>
