<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchAgainstPattern</key>
	<string>methodVisitorDepth</string>
	<key>curveNearJob</key>
	<string>alignmentAtOperation</string>
	<key>desktopTableSize</key>
	<string>checkboxProxyMode</string>
	<key>imageBufferPressure</key>
	<string>resultValueSkewy</string>
	<key>intensityIncludeBuffer</key>
	<string>resultFromType</string>
	<key>mobileAroundStyle</key>
	<string>discardedOverlayCount</string>
	<key>prevBorderDuration</key>
	<string>workflowThroughPlatform</string>
	<key>queueBeyondMediator</key>
	<string>spriteFunctionMargin</string>
	<key>sophisticatedBuilderResponse</key>
	<string>lazyMarginFrequency</string>
</dict>
</plist>
