<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activityLayerStyle</key>
	<string>specifierPrototypeForce</string>
	<key>arithmeticEventPressure</key>
	<string>missedEntityStyle</string>
	<key>boxshadowMethodFeedback</key>
	<string>responsiveIntensityPadding</string>
	<key>loopInsideVar</key>
	<string>subscriptionDuringParam</string>
	<key>managerUntilProcess</key>
	<string>backwardProviderDensity</string>
	<key>modalBesideContext</key>
	<string>aspectAtBuffer</string>
	<key>nativeResponseDepth</key>
	<string>cupertinoFrameworkDelay</string>
	<key>presenterTaskAcceleration</key>
	<string>localMenuBottom</string>
	<key>projectScopeHead</key>
	<string>interactorCycleIndex</string>
	<key>resizableFeatureMode</key>
	<string>reducerCommandDelay</string>
</dict>
</plist>
