<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directlyRouteIndex</key>
	<string>synchronousErrorPosition</string>
	<key>effectWithPrototype</key>
	<string>lazyFutureAcceleration</string>
	<key>equalizationStructureFlags</key>
	<string>paddingVariableState</string>
	<key>intuitiveUsageAcceleration</key>
	<string>dynamicStreamSpeed</string>
	<key>listenerOperationInteraction</key>
	<string>functionalMaterialOpacity</string>
	<key>providerJobSkewy</key>
	<string>unactivatedIsolateAcceleration</string>
	<key>spineContainMemento</key>
	<string>specifierValueOpacity</string>
</dict>
</plist>
