<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorWorkDuration</key>
	<string>reducerPerProxy</string>
	<key>blocByJob</key>
	<string>mobxTierCount</string>
	<key>curveThanChain</key>
	<string>navigatorAndAction</string>
	<key>delegatePatternLeft</key>
	<string>monsterFrameworkColor</string>
	<key>expandedUntilVisitor</key>
	<string>denseDelegateAlignment</string>
	<key>grainVersusStyle</key>
	<string>mediumMissionDirection</string>
	<key>missedPetIndex</key>
	<string>serviceVarDirection</string>
	<key>musicJobRotation</key>
	<string>riverpodOutsideAction</string>
	<key>queryProxyStyle</key>
	<string>normTypePressure</string>
</dict>
</plist>
