<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>intermediateRepositoryIndex</key>
	<string>containerAndPlatform</string>
	<key>invisibleStoreFlags</key>
	<string>commonRouteMode</string>
	<key>localizationCycleLocation</key>
	<string>callbackMediatorSpeed</string>
	<key>mediocreTitleName</key>
	<string>lostReductionContrast</string>
	<key>multiMaterialValidation</key>
	<string>allocatorObserverBehavior</string>
	<key>musicWithoutCycle</key>
	<string>observerLevelBottom</string>
	<key>optionAndState</key>
	<string>singletonBeyondKind</string>
	<key>temporaryInstructionMomentum</key>
	<string>cycleBesideMemento</string>
</dict>
</plist>
