<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bitrateIncludeMode</key>
	<string>disparateDescriptorTint</string>
	<key>disparateLayerBottom</key>
	<string>subtleSinkTheme</string>
	<key>pageviewObserverShape</key>
	<string>reusableCacheInterval</string>
	<key>requiredGemVisible</key>
	<string>layerVisitorMargin</string>
	<key>retainedBuilderTransparency</key>
	<string>euclideanLossStyle</string>
</dict>
</plist>
