<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationParameterCoord</key>
	<string>autoLayoutVelocity</string>
	<key>coordinatorOrFlyweight</key>
	<string>serviceLevelHue</string>
	<key>easyContainerCoord</key>
	<string>flexibleResponseOrientation</string>
	<key>interpolationWithLayer</key>
	<string>multiplicationAwayNumber</string>
	<key>tappableConfigurationTension</key>
	<string>sizedboxWithoutVisitor</string>
	<key>uniqueEventHead</key>
	<string>featureFromForm</string>
</dict>
</plist>
