<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubitInterpreterMomentum</key>
	<string>rectParamDelay</string>
	<key>cupertinoResourceValidation</key>
	<string>tabviewProxyRate</string>
	<key>displayableStampOffset</key>
	<string>typicalSceneVelocity</string>
	<key>invisibleAnchorFormat</key>
	<string>chartOperationSpeed</string>
	<key>methodLevelTransparency</key>
	<string>entropyInterpreterShade</string>
	<key>skinAndParameter</key>
	<string>associatedSkirtMomentum</string>
	<key>uniqueFrameLeft</key>
	<string>subsequentAnimationRight</string>
</dict>
</plist>
