<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerParameterFormat</key>
	<string>titleOperationHead</string>
	<key>blocDespiteProxy</key>
	<string>rectParameterInteraction</string>
	<key>cupertinoCallbackVisibility</key>
	<string>subsequentDescriptionAppearance</string>
	<key>entityAboutObserver</key>
	<string>tappableReferenceFlags</string>
	<key>hierarchicalDelegateRotation</key>
	<string>seamlessPopupAppearance</string>
	<key>petValueBound</key>
	<string>precisionInterpreterMode</string>
	<key>rapidBlocBrightness</key>
	<string>activityProxyBorder</string>
	<key>responsiveMobxDirection</key>
	<string>delegateWithoutJob</string>
	<key>streamLevelCenter</key>
	<string>profileTypeVisible</string>
	<key>transitionForAdapter</key>
	<string>desktopExtensionTension</string>
</dict>
</plist>
