<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSinkVelocity</key>
	<string>iterativeObserverTheme</string>
	<key>commonLogType</key>
	<string>descriptionViaFunction</string>
	<key>consultativeStorageOrigin</key>
	<string>dialogsIncludeMode</string>
	<key>directExponentOffset</key>
	<string>methodInMethod</string>
	<key>intermediateDurationInterval</key>
	<string>allocatorDuringChain</string>
	<key>listviewOperationDelay</key>
	<string>frameAndPhase</string>
	<key>resourceJobDistance</key>
	<string>ephemeralMethodRotation</string>
	<key>symbolNumberShape</key>
	<string>bulletAgainstPrototype</string>
	<key>uniformPopupPosition</key>
	<string>oldIsolateCount</string>
	<key>visibleCurveFeedback</key>
	<string>factoryStructureVisibility</string>
</dict>
</plist>
