<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationThroughObserver</key>
	<string>inheritedMasterTension</string>
	<key>requestDuringCommand</key>
	<string>immutableTextureBound</string>
	<key>sizedboxFlyweightPressure</key>
	<string>pinchableDelegateBound</string>
	<key>sliderInterpreterTag</key>
	<string>fixedInterfaceVisibility</string>
	<key>specifyAsyncShade</key>
	<string>sequentialProfileSkewx</string>
	<key>stampVariableCenter</key>
	<string>liteFactoryRight</string>
</dict>
</plist>
