<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>equalizationCommandPressure</key>
	<string>optionAwayStrategy</string>
	<key>mediumMobileCoord</key>
	<string>labelBesideMediator</string>
	<key>riverpodExceptPhase</key>
	<string>flexibleStreamEdge</string>
	<key>uniqueCallbackBound</key>
	<string>missionContainLevel</string>
</dict>
</plist>
