<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mediocreGridShape</key>
	<string>imageIncludeForm</string>
	<key>mediumLayoutTransparency</key>
	<string>retainedChapterFormat</string>
	<key>originalThreadVelocity</key>
	<string>advancedBaseInteraction</string>
	<key>priorityWithoutScope</key>
	<string>alignmentAndValue</string>
	<key>radioStyleSpeed</key>
	<string>configurationDecoratorMode</string>
	<key>smallPainterInterval</key>
	<string>shaderAgainstChain</string>
	<key>toolSystemTail</key>
	<string>modelKindBehavior</string>
</dict>
</plist>
