<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardCursorRotation</key>
	<string>capacitiesWithStrategy</string>
	<key>layerMethodRate</key>
	<string>transitionPhaseRate</string>
	<key>navigatorIncludeObserver</key>
	<string>smartEquipmentCenter</string>
	<key>promiseSinceFunction</key>
	<string>globalConstraintMargin</string>
	<key>resolverShapeAcceleration</key>
	<string>titleValueAppearance</string>
	<key>viewProcessSaturation</key>
	<string>pointStageHead</string>
	<key>webMobxCount</key>
	<string>directScrollTint</string>
	<key>widgetActionDelay</key>
	<string>eventFacadePadding</string>
	<key>zoneWithInterpreter</key>
	<string>responsiveGramMargin</string>
</dict>
</plist>
