<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionViaMemento</key>
	<string>parallelPreviewLeft</string>
	<key>allocatorCommandTension</key>
	<string>fusedActivitySkewy</string>
	<key>draggableWidgetAcceleration</key>
	<string>respectiveRectTint</string>
	<key>getxKindIndex</key>
	<string>navigationBufferPosition</string>
	<key>interactorStructureTransparency</key>
	<string>completionOrInterpreter</string>
	<key>matrixNumberBound</key>
	<string>intuitiveRemainderTheme</string>
	<key>mobxFrameworkTop</key>
	<string>characterAgainstTask</string>
	<key>musicStructureLeft</key>
	<string>pinchableCompleterBorder</string>
	<key>scaffoldPrototypeOrientation</key>
	<string>gateDuringStage</string>
</dict>
</plist>
