<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerFacadeMomentum</key>
	<string>temporaryTabbarDelay</string>
	<key>crucialBufferInterval</key>
	<string>basicChapterTail</string>
	<key>dialogsVariableSpacing</key>
	<string>nativeRowBorder</string>
	<key>labelMementoOffset</key>
	<string>cartesianModelFlags</string>
	<key>modalExceptChain</key>
	<string>firstInterpolationSkewy</string>
	<key>newestSwitchSpacing</key>
	<string>immutableButtonHue</string>
	<key>prioritySingletonState</key>
	<string>projectOfPhase</string>
	<key>standaloneCallbackCoord</key>
	<string>materialTextOpacity</string>
	<key>titleChainCount</key>
	<string>imageChainDelay</string>
	<key>transformerBeyondCycle</key>
	<string>roleByInterpreter</string>
</dict>
</plist>
