<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorByBridge</key>
	<string>masterInMethod</string>
	<key>cubeLayerStyle</key>
	<string>tensorColumnContrast</string>
	<key>decorationAboutVariable</key>
	<string>textWithJob</string>
	<key>equalizationVisitorPressure</key>
	<string>enabledCheckboxAcceleration</string>
	<key>hardTickerEdge</key>
	<string>inactiveFutureSaturation</string>
	<key>integerAroundState</key>
	<string>streamLevelPosition</string>
</dict>
</plist>
