<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baselineWithMode</key>
	<string>functionalLayerHead</string>
	<key>dropdownbuttonDespiteNumber</key>
	<string>interactorTypeBound</string>
	<key>finalSignatureRotation</key>
	<string>durationBufferOrigin</string>
	<key>navigatorAroundMemento</key>
	<string>hyperbolicLogInterval</string>
	<key>numericalStoryboardAcceleration</key>
	<string>popupInStructure</string>
	<key>responseViaParameter</key>
	<string>respectiveDecorationMode</string>
	<key>sceneAsForm</key>
	<string>controllerOperationPadding</string>
</dict>
</plist>
