<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>desktopListenerFormat</key>
	<string>finalExpandedCenter</string>
	<key>indicatorAlongFacade</key>
	<string>nibAboutProcess</string>
	<key>riverpodInStrategy</key>
	<string>standaloneModalFeedback</string>
	<key>sensorJobSaturation</key>
	<string>factoryNumberFrequency</string>
	<key>skinPrototypeSpeed</key>
	<string>gridviewAndLevel</string>
</dict>
</plist>
