<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionIncludeState</key>
	<string>firstAlertContrast</string>
	<key>cardMethodMomentum</key>
	<string>navigatorTierRate</string>
	<key>comprehensiveTableMode</key>
	<string>delegateNearOperation</string>
	<key>concreteChannelsTension</key>
	<string>titleBesideFacade</string>
	<key>concreteWidgetFrequency</key>
	<string>responsiveSinkValidation</string>
	<key>configurationCompositeName</key>
	<string>desktopSwitchSkewx</string>
	<key>containerInterpreterVisible</key>
	<string>sophisticatedSwitchHue</string>
	<key>gateThroughDecorator</key>
	<string>sliderAgainstLevel</string>
	<key>heroDuringType</key>
	<string>blocShapeStatus</string>
</dict>
</plist>
