<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalCardScale</key>
	<string>resolverLevelTag</string>
	<key>materialResponseHue</key>
	<string>usageFrameworkColor</string>
	<key>missionTaskSpeed</key>
	<string>axisAdapterSkewx</string>
	<key>mutableUsecaseScale</key>
	<string>switchContainInterpreter</string>
	<key>permanentAllocatorTension</key>
	<string>buttonVersusComposite</string>
	<key>protectedBaselineType</key>
	<string>zoneBesideObserver</string>
</dict>
</plist>
