<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchLikeLayer</key>
	<string>asynchronousBehaviorSize</string>
	<key>certificateProxyTag</key>
	<string>reusableCallbackTransparency</string>
	<key>cupertinoExceptTask</key>
	<string>gradientThanFramework</string>
	<key>listenerAndMode</key>
	<string>blocPatternName</string>
	<key>providerNearInterpreter</key>
	<string>coordinatorAdapterDirection</string>
</dict>
</plist>
