<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryPatternScale</key>
	<string>independentControllerPadding</string>
	<key>controllerContainNumber</key>
	<string>prismaticSliderOrientation</string>
	<key>immutableRadiusBehavior</key>
	<string>commonResolverCount</string>
	<key>notificationTypeAcceleration</key>
	<string>commandLevelBottom</string>
	<key>sophisticatedQueueBrightness</key>
	<string>displayableObserverDensity</string>
</dict>
</plist>
