<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>finalTabbarBehavior</key>
	<string>cupertinoDescriptorEdge</string>
	<key>grainMementoOrientation</key>
	<string>pageviewIncludeComposite</string>
	<key>nextCosineTop</key>
	<string>richtextVariableValidation</string>
	<key>numericalGestureOrigin</key>
	<string>animationPerDecorator</string>
	<key>unactivatedManagerTail</key>
	<string>activityNearShape</string>
</dict>
</plist>
