<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticWithoutVisitor</key>
	<string>standaloneInjectionIndex</string>
	<key>equipmentJobVisibility</key>
	<string>momentumTierBrightness</string>
	<key>flexibleSingletonBehavior</key>
	<string>accordionThreadInteraction</string>
	<key>gradientStructureForce</key>
	<string>resolverDuringFramework</string>
	<key>instructionCompositeRight</key>
	<string>notificationFacadeAppearance</string>
	<key>lastProviderFrequency</key>
	<string>blocCompositeShade</string>
	<key>sceneParameterVisible</key>
	<string>tweenJobType</string>
</dict>
</plist>
