<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asynchronousRouterMargin</key>
	<string>modelDuringAction</string>
	<key>draggableBufferSize</key>
	<string>multiMasterMargin</string>
	<key>giftStageCount</key>
	<string>drawerWorkVisible</string>
	<key>resizableAnchorShape</key>
	<string>sizedboxFunctionTheme</string>
	<key>synchronousBuilderRate</key>
	<string>widgetCycleSaturation</string>
	<key>tappableMenuAlignment</key>
	<string>brushTemplePosition</string>
</dict>
</plist>
