<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedGradientDepth</key>
	<string>eventWithTask</string>
	<key>animatedTickerOrientation</key>
	<string>chartParameterBehavior</string>
	<key>checkboxAtVar</key>
	<string>coordinatorLayerDepth</string>
	<key>hardMarginCount</key>
	<string>standaloneMobileContrast</string>
	<key>richtextScopeFeedback</key>
	<string>roleDecoratorDepth</string>
</dict>
</plist>
