<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>drawerFormBottom</key>
	<string>symmetricCurveFrequency</string>
	<key>iconAwayInterpreter</key>
	<string>providerParamOrientation</string>
	<key>sessionVisitorOrientation</key>
	<string>compositionalRouterScale</string>
	<key>storageParameterTransparency</key>
	<string>layerModeOrientation</string>
</dict>
</plist>
