<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationMementoBound</key>
	<string>curveNearParam</string>
	<key>commandLikeProxy</key>
	<string>convolutionParamShape</string>
	<key>pinchableActivityEdge</key>
	<string>independentLoopMargin</string>
	<key>routerCompositeMode</key>
	<string>providerStageRotation</string>
	<key>visibleSpriteFeedback</key>
	<string>giftDuringTemple</string>
	<key>webNormBrightness</key>
	<string>interfaceActionShade</string>
</dict>
</plist>
