<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveRouterFlags</key>
	<string>displayablePresenterLocation</string>
	<key>constMissionSize</key>
	<string>animatedcontainerViaInterpreter</string>
	<key>cosineValueOrigin</key>
	<string>localizationDuringChain</string>
	<key>dropdownbuttonOfJob</key>
	<string>shaderVersusKind</string>
	<key>graphAboutEnvironment</key>
	<string>eagerGrainContrast</string>
	<key>textureVersusMediator</key>
	<string>intensityInsideNumber</string>
</dict>
</plist>
