<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dynamicProjectionStyle</key>
	<string>scrollableObserverSpeed</string>
	<key>listenerByDecorator</key>
	<string>callbackViaCommand</string>
	<key>mobxViaStyle</key>
	<string>spriteUntilSingleton</string>
	<key>routeProxyAcceleration</key>
	<string>layoutNearContext</string>
</dict>
</plist>
