<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>allocatorExceptTask</key>
	<string>mediocreEffectOrigin</string>
	<key>assetNearMethod</key>
	<string>fixedGestureBound</string>
	<key>asyncAdapterOrientation</key>
	<string>delegateNearLevel</string>
	<key>borderPrototypeFlags</key>
	<string>consultativeTweenSpacing</string>
	<key>queryDuringWork</key>
	<string>enabledCoordinatorFlags</string>
	<key>resolverWithoutBuffer</key>
	<string>tabviewAlongMethod</string>
	<key>statelessAlphaBorder</key>
	<string>progressbarViaBridge</string>
</dict>
</plist>
