<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>backwardSessionRight</key>
	<string>sizePlatformAppearance</string>
	<key>captionForTier</key>
	<string>storageParamTension</string>
	<key>completerExceptParam</key>
	<string>lastCompleterRate</string>
	<key>elasticScaleType</key>
	<string>mobileInstructionOrientation</string>
	<key>gesturedetectorCompositeDuration</key>
	<string>spineVarAppearance</string>
	<key>requestTierPressure</key>
	<string>immutableSensorForce</string>
	<key>shaderKindSize</key>
	<string>nodeInTier</string>
	<key>sortedDecorationSpacing</key>
	<string>activatedMediaDelay</string>
</dict>
</plist>
