<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaAmongObserver</key>
	<string>missedMissionColor</string>
	<key>catalystOutsidePhase</key>
	<string>managerAtStyle</string>
	<key>cubitBufferDirection</key>
	<string>effectViaBridge</string>
	<key>curveAtForm</key>
	<string>keyProjectState</string>
	<key>menuTempleForce</key>
	<string>mainMapVelocity</string>
	<key>resizableQueryShade</key>
	<string>effectOperationTail</string>
	<key>sinkDecoratorBound</key>
	<string>asyncSpriteStyle</string>
	<key>widgetTaskBottom</key>
	<string>columnStateValidation</string>
</dict>
</plist>
