<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerBesideEnvironment</key>
	<string>nextProgressbarFrequency</string>
	<key>comprehensiveExceptionVisible</key>
	<string>capacitiesFromLayer</string>
	<key>crucialTableDuration</key>
	<string>resultThroughObserver</string>
	<key>graphAndInterpreter</key>
	<string>rectInNumber</string>
	<key>grayscaleUntilBuffer</key>
	<string>managerLikeShape</string>
	<key>multiSceneStyle</key>
	<string>slashBesideCycle</string>
	<key>profileTempleKind</key>
	<string>zoneTempleMomentum</string>
	<key>usageAsStrategy</key>
	<string>secondRowMomentum</string>
</dict>
</plist>
