<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hashPhaseSaturation</key>
	<string>resourceCommandFrequency</string>
	<key>interfaceActivityScale</key>
	<string>firstHeroDistance</string>
	<key>primaryCoordinatorCenter</key>
	<string>tweenAgainstAdapter</string>
</dict>
</plist>
