<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>associatedCheckboxBorder</key>
	<string>persistentNodeTag</string>
	<key>backwardGrainTheme</key>
	<string>dialogsViaAction</string>
	<key>commonCompleterLocation</key>
	<string>cycleIncludePhase</string>
	<key>convolutionIncludeCommand</key>
	<string>dedicatedBinaryBottom</string>
	<key>directSampleDuration</key>
	<string>multiplicationMementoOffset</string>
	<key>globalArithmeticForce</key>
	<string>integerOutsideProxy</string>
	<key>gridShapeHead</key>
	<string>swiftCompositeOpacity</string>
	<key>rectParamHead</key>
	<string>frameIncludeStyle</string>
	<key>stateAsStructure</key>
	<string>discardedParticleTail</string>
</dict>
</plist>
