<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>collectionStyleVisible</key>
	<string>stepAroundValue</string>
	<key>permissiveIsolateForce</key>
	<string>effectDuringKind</string>
	<key>tabviewByKind</key>
	<string>pointInChain</string>
	<key>taskOrInterpreter</key>
	<string>fragmentAgainstMemento</string>
</dict>
</plist>
