<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionBesideParameter</key>
	<string>viewAboutState</string>
	<key>activeEntropyStyle</key>
	<string>animatedcontainerOrContext</string>
	<key>axisContainState</key>
	<string>usedRadiusSpacing</string>
	<key>declarativeContainerTail</key>
	<string>vectorActivityTransparency</string>
	<key>decorationViaVisitor</key>
	<string>coordinatorStyleVelocity</string>
	<key>metadataBeyondChain</key>
	<string>independentDelegateAcceleration</string>
	<key>subtleLayoutTransparency</key>
	<string>bitratePlatformTint</string>
</dict>
</plist>
