<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertParamLeft</key>
	<string>localMediaqueryFlags</string>
	<key>descriptorOrTemple</key>
	<string>gridTempleBottom</string>
	<key>framePlatformKind</key>
	<string>cursorByAdapter</string>
	<key>functionalWidgetFlags</key>
	<string>challengeStyleTint</string>
	<key>mediocrePromiseFrequency</key>
	<string>synchronousSliderState</string>
	<key>providerVisitorDelay</key>
	<string>textFacadeSize</string>
</dict>
</plist>
