<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iterativeGrayscaleLocation</key>
	<string>metadataFunctionMomentum</string>
	<key>labelThanType</key>
	<string>providerValueFrequency</string>
	<key>retainedSubscriptionTail</key>
	<string>pivotalCoordinatorDepth</string>
	<key>sizeOfOperation</key>
	<string>cartesianChallengeHue</string>
	<key>sortedLoopVelocity</key>
	<string>observerBufferFeedback</string>
	<key>storyboardAgainstInterpreter</key>
	<string>inactiveClipperMomentum</string>
	<key>storyboardParameterDensity</key>
	<string>compositionLayerIndex</string>
	<key>unsortedSliderType</key>
	<string>smallStreamInteraction</string>
</dict>
</plist>
