<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedBlocInteraction</key>
	<string>signatureSystemContrast</string>
	<key>containerFormAppearance</key>
	<string>switchStructureForce</string>
	<key>delicateCompositionVelocity</key>
	<string>commandAndProxy</string>
	<key>gemContextMargin</key>
	<string>inheritedSwiftFormat</string>
	<key>getxUntilInterpreter</key>
	<string>localTaskSkewy</string>
	<key>iterativeAwaitInset</key>
	<string>behaviorViaTier</string>
	<key>observerAwayChain</key>
	<string>nativeContainerOrientation</string>
</dict>
</plist>
