<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerRouteFormat</key>
	<string>awaitStageFeedback</string>
	<key>constraintWithScope</key>
	<string>nodeWithoutMediator</string>
	<key>nibCommandMode</key>
	<string>discardedControllerSpacing</string>
	<key>pageviewParamCenter</key>
	<string>specifyChannelDistance</string>
	<key>particleAtVisitor</key>
	<string>reactiveModelPosition</string>
	<key>precisionBufferDistance</key>
	<string>monsterAdapterShape</string>
	<key>viewLikeShape</key>
	<string>effectWithoutMemento</string>
</dict>
</plist>
