<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cacheOrContext</key>
	<string>agileScaffoldVisibility</string>
	<key>inactiveProgressbarFeedback</key>
	<string>globalTweenAcceleration</string>
	<key>metadataFacadeRotation</key>
	<string>bulletWithoutMediator</string>
	<key>nodeBeyondLevel</key>
	<string>primaryLayerPosition</string>
	<key>optionPatternMomentum</key>
	<string>viewBesideBridge</string>
	<key>pointThanAdapter</key>
	<string>sampleTaskValidation</string>
	<key>priorityAgainstContext</key>
	<string>remainderCycleFeedback</string>
	<key>robustErrorCenter</key>
	<string>concurrentLabelTransparency</string>
	<key>sizedboxObserverTransparency</key>
	<string>desktopRectDepth</string>
</dict>
</plist>
