<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>columnAgainstProxy</key>
	<string>gestureProcessKind</string>
	<key>declarativeShaderTransparency</key>
	<string>interactorThanLevel</string>
	<key>futureAmongPhase</key>
	<string>uniqueControllerTheme</string>
	<key>precisionOrComposite</key>
	<string>blocObserverSkewy</string>
	<key>unsortedColumnOrientation</key>
	<string>modulusFrameworkBound</string>
</dict>
</plist>
