<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameIncludeFacade</key>
	<string>sliderDuringStyle</string>
	<key>mediaqueryThanFunction</key>
	<string>resolverStateIndex</string>
	<key>referenceTierDistance</key>
	<string>concurrentBoxBound</string>
	<key>sinkFromValue</key>
	<string>textureOfForm</string>
	<key>tappableTangentTension</key>
	<string>contractionCycleForce</string>
	<key>touchOperationVisibility</key>
	<string>subpixelMementoPressure</string>
</dict>
</plist>
