<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerInTask</key>
	<string>publicBlocLeft</string>
	<key>mobileTextureCoord</key>
	<string>dynamicLossDistance</string>
	<key>positionedOutsideShape</key>
	<string>gridNearMemento</string>
	<key>titleForAdapter</key>
	<string>customizedNavigatorBottom</string>
</dict>
</plist>
