<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cubePlatformBorder</key>
	<string>sineAboutCycle</string>
	<key>featureOperationMomentum</key>
	<string>compositionalGroupState</string>
	<key>inheritedReducerAlignment</key>
	<string>spriteLevelVisibility</string>
	<key>intuitiveAnchorDuration</key>
	<string>standaloneEqualizationDistance</string>
	<key>sharedIconForce</key>
	<string>utilCommandState</string>
	<key>sizeNearTier</key>
	<string>hardActionInterval</string>
	<key>transformerBufferVisible</key>
	<string>segmentValueName</string>
	<key>zoneForPhase</key>
	<string>customizedDescriptionSpacing</string>
</dict>
</plist>
