<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedListviewScale</key>
	<string>granularGraphEdge</string>
	<key>asyncAlignmentIndex</key>
	<string>singleAlertLeft</string>
	<key>extensionOrBridge</key>
	<string>radiusPrototypePosition</string>
	<key>liteBrushAcceleration</key>
	<string>semanticBaseDuration</string>
	<key>mobileAroundVar</key>
	<string>mediumGradientShade</string>
	<key>protectedFutureTransparency</key>
	<string>uniquePreviewInteraction</string>
	<key>statelessVariableDepth</key>
	<string>titleInterpreterShade</string>
	<key>usageModeSaturation</key>
	<string>providerVisitorRotation</string>
</dict>
</plist>
