<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>boxAwayPhase</key>
	<string>methodDecoratorCoord</string>
	<key>boxWorkRight</key>
	<string>nextCapsuleCenter</string>
	<key>curveCompositeDirection</key>
	<string>statelessStoreVelocity</string>
	<key>effectLayerTint</key>
	<string>transformerFrameworkState</string>
	<key>finalConfigurationVisibility</key>
	<string>blocNearEnvironment</string>
	<key>marginInsideParameter</key>
	<string>desktopNavigatorSaturation</string>
</dict>
</plist>
