<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushOutsideFramework</key>
	<string>composableCompleterLocation</string>
	<key>deferredWidgetSaturation</key>
	<string>disabledFactoryEdge</string>
	<key>gridviewCompositeInset</key>
	<string>comprehensiveIsolateCenter</string>
	<key>isolatePrototypeMode</key>
	<string>pointByNumber</string>
	<key>queryWorkDistance</key>
	<string>viewLikeStage</string>
	<key>secondStepTag</key>
	<string>dialogsAndPrototype</string>
	<key>sineStateSpeed</key>
	<string>publicBaselineBound</string>
</dict>
</plist>
