<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintAmongContext</key>
	<string>intermediateProtocolOrientation</string>
	<key>curveExceptBridge</key>
	<string>diversifiedMomentumTension</string>
	<key>gemTierCount</key>
	<string>interpolationViaTemple</string>
	<key>themeVariableBound</key>
	<string>blocContainBuffer</string>
	<key>transitionTempleBottom</key>
	<string>cubeAwayAdapter</string>
</dict>
</plist>
