<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleGroupTransparency</key>
	<string>tangentLayerState</string>
	<key>cupertinoAsyncPosition</key>
	<string>gridviewParamInterval</string>
	<key>draggableSegmentTheme</key>
	<string>expandedWithoutMemento</string>
	<key>exceptionOfPrototype</key>
	<string>sizePlatformKind</string>
	<key>permanentHashMomentum</key>
	<string>binaryInAdapter</string>
	<key>progressbarShapeScale</key>
	<string>blocPlatformDelay</string>
</dict>
</plist>
