<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compositionalNavigatorMargin</key>
	<string>hyperbolicTransformerOffset</string>
	<key>equipmentAgainstKind</key>
	<string>popupStructureDensity</string>
	<key>getxInsidePhase</key>
	<string>fragmentPerBuffer</string>
	<key>hyperbolicCompositionTag</key>
	<string>sustainableButtonFlags</string>
	<key>interpolationPlatformCount</key>
	<string>assetTempleFlags</string>
	<key>methodOrActivity</key>
	<string>resizableModelFormat</string>
	<key>normalMasterVelocity</key>
	<string>animationMediatorScale</string>
	<key>semanticRectMode</key>
	<string>sliderNearWork</string>
	<key>vectorExceptProxy</key>
	<string>marginNearObserver</string>
</dict>
</plist>
