<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedContainerShape</key>
	<string>concreteCosineBottom</string>
	<key>alertTaskKind</key>
	<string>aspectratioPhaseSpacing</string>
	<key>cubeInsideShape</key>
	<string>requestStyleOpacity</string>
	<key>delegateDecoratorInset</key>
	<string>timerUntilBuffer</string>
	<key>dropdownbuttonCycleBehavior</key>
	<string>reducerTaskDistance</string>
	<key>responseEnvironmentFeedback</key>
	<string>exceptionStateAppearance</string>
	<key>sharedLocalizationAcceleration</key>
	<string>typicalTimerTail</string>
	<key>statePatternTransparency</key>
	<string>titleCycleLeft</string>
	<key>toolAboutStructure</key>
	<string>accessibleMissionFrequency</string>
</dict>
</plist>
