<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>arithmeticToolBottom</key>
	<string>modalAtChain</string>
	<key>lastCycleDelay</key>
	<string>directCubitTransparency</string>
	<key>menuPhaseRotation</key>
	<string>secondPositionDelay</string>
	<key>missedGemLeft</key>
	<string>compositionProcessMargin</string>
	<key>operationDuringChain</key>
	<string>batchContextHue</string>
	<key>pageviewNearVariable</key>
	<string>layerWithTemple</string>
	<key>providerJobDepth</key>
	<string>durationBridgeStatus</string>
	<key>sizeAndMethod</key>
	<string>smartPointDelay</string>
	<key>subtleIconCount</key>
	<string>equipmentAmongKind</string>
</dict>
</plist>
