<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorStrategyRotation</key>
	<string>requiredWidgetLeft</string>
	<key>blocFlyweightPressure</key>
	<string>accessoryStrategyTransparency</string>
	<key>deferredNavigatorTint</key>
	<string>hashStageResponse</string>
	<key>draggableScenePosition</key>
	<string>capsuleMementoDuration</string>
	<key>granularActionRotation</key>
	<string>listenerAdapterOrientation</string>
	<key>menuFromParameter</key>
	<string>seamlessStoreDuration</string>
	<key>requiredDelegateAcceleration</key>
	<string>segmentTaskFlags</string>
	<key>semanticsPhaseStyle</key>
	<string>taskLayerBorder</string>
</dict>
</plist>
