<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>completerSinceForm</key>
	<string>transitionAtTier</string>
	<key>enabledParticleLeft</key>
	<string>geometricAssetDuration</string>
	<key>greatSegmentRotation</key>
	<string>similarButtonHead</string>
	<key>observerJobTension</key>
	<string>hierarchicalProjectPadding</string>
	<key>substantialLayoutForce</key>
	<string>statefulMissionContrast</string>
	<key>transformerSinceActivity</key>
	<string>iterativeRouteHead</string>
</dict>
</plist>
