<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoNormVelocity</key>
	<string>methodBesideAdapter</string>
	<key>baselineFlyweightHue</key>
	<string>transitionBeyondJob</string>
	<key>containerStageBorder</key>
	<string>invisibleStatelessRight</string>
	<key>injectionContainDecorator</key>
	<string>standaloneTextEdge</string>
	<key>interfaceWithTask</key>
	<string>sensorStyleTail</string>
	<key>methodAndKind</key>
	<string>graphicStageCenter</string>
	<key>queryTaskContrast</key>
	<string>listenerAboutEnvironment</string>
	<key>sizedboxTempleInset</key>
	<string>actionAboutFunction</string>
	<key>smallEventLocation</key>
	<string>cupertinoGetxStatus</string>
</dict>
</plist>
