<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSignSkewx</key>
	<string>cupertinoParameterStatus</string>
	<key>cupertinoSystemInterval</key>
	<string>durationStructureLeft</string>
	<key>functionalAwaitTension</key>
	<string>dropdownbuttonBufferOffset</string>
	<key>requiredSceneForce</key>
	<string>accordionDelegateAlignment</string>
</dict>
</plist>
