<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commandOutsidePhase</key>
	<string>sophisticatedScreenTop</string>
	<key>customAlignmentBound</key>
	<string>particleNumberContrast</string>
	<key>publicCursorDistance</key>
	<string>configurationModeRotation</string>
</dict>
</plist>
