<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>borderKindInterval</key>
	<string>groupThanFlyweight</string>
	<key>captionWithoutState</key>
	<string>similarBoxshadowStatus</string>
	<key>constraintDespiteFunction</key>
	<string>bulletDuringComposite</string>
	<key>durationSingletonTail</key>
	<string>actionPrototypeSpacing</string>
	<key>expandedViaBridge</key>
	<string>prismaticStorageTag</string>
	<key>imperativeGridTint</key>
	<string>groupLikeMemento</string>
	<key>newestAsyncVisibility</key>
	<string>layoutPerParam</string>
	<key>requiredCompositionShade</key>
	<string>navigationFacadeDensity</string>
	<key>retainedCapsuleSize</key>
	<string>signAgainstStrategy</string>
	<key>unsortedRowTag</key>
	<string>slashCycleLeft</string>
</dict>
</plist>
