<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alertPlatformIndex</key>
	<string>capsuleAwayValue</string>
	<key>consumerCommandCoord</key>
	<string>consultativeSingletonBehavior</string>
	<key>temporaryScaleFrequency</key>
	<string>typicalGraphFlags</string>
	<key>titleAndActivity</key>
	<string>activeExpandedRight</string>
</dict>
</plist>
