<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderBeyondLevel</key>
	<string>immediateGroupMomentum</string>
	<key>concreteSinkType</key>
	<string>textureInBuffer</string>
	<key>fixedEventTransparency</key>
	<string>queryFrameworkRight</string>
	<key>otherTransformerOpacity</key>
	<string>notificationModeShade</string>
	<key>popupTaskSize</key>
	<string>controllerOutsideType</string>
	<key>secondHandlerTheme</key>
	<string>webDurationOpacity</string>
</dict>
</plist>
