<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>concurrentRowRotation</key>
	<string>segmentBesideVariable</string>
	<key>contractionOfMethod</key>
	<string>crudeMasterHead</string>
	<key>ignoredDimensionFeedback</key>
	<string>mainCanvasInterval</string>
	<key>instructionPlatformDuration</key>
	<string>inkwellPerSystem</string>
	<key>nodeParamColor</key>
	<string>radiusAroundProcess</string>
	<key>symmetricGateRight</key>
	<string>alphaKindTransparency</string>
</dict>
</plist>
