<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>specifierStructureRate</key>
	<string>pageviewInSystem</string>
	<key>tangentCompositeInterval</key>
	<string>fragmentObserverIndex</string>
	<key>transformerProcessTension</key>
	<string>appbarValueBottom</string>
</dict>
</plist>
