<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>assetViaSystem</key>
	<string>animatedcontainerStateRate</string>
	<key>consultativeCoordinatorMargin</key>
	<string>dedicatedConfigurationStyle</string>
	<key>crucialStateTag</key>
	<string>gramTypeSaturation</string>
	<key>eagerCompletionRate</key>
	<string>retainedQueryCoord</string>
	<key>sequentialPageviewScale</key>
	<string>lostRequestInterval</string>
	<key>temporaryLayoutTail</key>
	<string>providerParameterTransparency</string>
</dict>
</plist>
