<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customizedBaselineIndex</key>
	<string>spotLikeForm</string>
	<key>keyMethodVelocity</key>
	<string>inactiveDialogsCount</string>
	<key>queueAsAdapter</key>
	<string>imperativeStateBehavior</string>
	<key>semanticServiceIndex</key>
	<string>routeParamAppearance</string>
	<key>spotJobKind</key>
	<string>bufferAndShape</string>
</dict>
</plist>
