<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>durationParamResponse</key>
	<string>assetFlyweightAlignment</string>
	<key>dynamicReducerVisible</key>
	<string>permissiveNodeOffset</string>
	<key>numericalCatalystTail</key>
	<string>channelAwaySingleton</string>
	<key>segueForPhase</key>
	<string>previewParamVelocity</string>
</dict>
</plist>
