<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>giftAroundDecorator</key>
	<string>dropdownbuttonLayerVisibility</string>
	<key>loopDecoratorShape</key>
	<string>popupBridgeOrigin</string>
	<key>optionIncludeChain</key>
	<string>sustainableRichtextSaturation</string>
	<key>resilientInjectionVisible</key>
	<string>curvePerStage</string>
	<key>taskParameterSaturation</key>
	<string>petActionVisible</string>
</dict>
</plist>
