<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>convolutionSystemDirection</key>
	<string>smartUtilPosition</string>
	<key>cubitPatternBound</key>
	<string>optimizerWithKind</string>
	<key>giftBeyondScope</key>
	<string>masterAwayFlyweight</string>
	<key>positionUntilAction</key>
	<string>mainTransformerRotation</string>
	<key>relationalResolverMode</key>
	<string>primaryDelegateScale</string>
</dict>
</plist>
