<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>builderEnvironmentSpacing</key>
	<string>containerDuringTask</string>
	<key>cosineAwayEnvironment</key>
	<string>smartSinkHue</string>
	<key>lossVariablePadding</key>
	<string>transformerShapeAppearance</string>
	<key>mobxLevelBrightness</key>
	<string>projectBridgeDepth</string>
	<key>resolverAboutPhase</key>
	<string>dependencyStrategyState</string>
	<key>statefulPresenterOffset</key>
	<string>sharedQueryOrientation</string>
	<key>ternaryShapeInset</key>
	<string>opaqueConstraintShape</string>
</dict>
</plist>
