<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleRouteDuration</key>
	<string>denseIntegerAlignment</string>
	<key>alignmentNearAction</key>
	<string>prismaticCurveTail</string>
	<key>currentSpotRight</key>
	<string>zoneFacadeResponse</string>
	<key>firstMomentumName</key>
	<string>layerStructureBound</string>
	<key>grainStyleVisibility</key>
	<string>alphaLayerBound</string>
	<key>hierarchicalResolverFrequency</key>
	<string>intuitiveLoopShape</string>
	<key>invisibleEffectVelocity</key>
	<string>cartesianBorderCoord</string>
	<key>unsortedViewSpeed</key>
	<string>particleAdapterColor</string>
</dict>
</plist>
