<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitThroughInterpreter</key>
	<string>protectedNavigationCount</string>
	<key>grainViaBridge</key>
	<string>playbackFlyweightScale</string>
	<key>nextImageSaturation</key>
	<string>gridOperationTension</string>
	<key>optimizerStyleInteraction</key>
	<string>reusableBoxshadowSkewy</string>
</dict>
</plist>
