<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileDelegateOrientation</key>
	<string>mobileAsyncInterval</string>
	<key>builderWithoutEnvironment</key>
	<string>transitionTypeShape</string>
	<key>clipperVarTheme</key>
	<string>themeIncludeScope</string>
	<key>liteGramName</key>
	<string>exponentNearSystem</string>
	<key>normAgainstNumber</key>
	<string>missionStyleOrigin</string>
	<key>resourceKindDuration</key>
	<string>crucialTextTail</string>
	<key>retainedLabelBehavior</key>
	<string>variantVariableShade</string>
</dict>
</plist>
