<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleProgressbarBrightness</key>
	<string>decorationValueBrightness</string>
	<key>anchorMediatorName</key>
	<string>lastPopupCoord</string>
	<key>channelOfAction</key>
	<string>parallelVectorBehavior</string>
	<key>columnModeSkewx</key>
	<string>curveDespiteLevel</string>
	<key>lazyAssetTint</key>
	<string>particleAboutPhase</string>
	<key>presenterDespitePattern</key>
	<string>futureLevelColor</string>
	<key>scrollableBaseDistance</key>
	<string>lossCompositeLeft</string>
	<key>usecaseVarHue</key>
	<string>pageviewDecoratorDirection</string>
</dict>
</plist>
