<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>composableRowHue</key>
	<string>logarithmFrameworkFlags</string>
	<key>descriptorAsStrategy</key>
	<string>lossAboutTask</string>
	<key>euclideanVariantInterval</key>
	<string>nextModelStyle</string>
	<key>unaryBridgeOrientation</key>
	<string>dependencyFromBuffer</string>
	<key>vectorVersusShape</key>
	<string>commonSpriteState</string>
	<key>visibleRouteBehavior</key>
	<string>subpixelContextPosition</string>
</dict>
</plist>
