<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectAndOperation</key>
	<string>spotProxySize</string>
	<key>mediocreMarginTag</key>
	<string>routeMementoCount</string>
	<key>newestStateVelocity</key>
	<string>inactiveFutureCoord</string>
	<key>notificationActivityCenter</key>
	<string>previewBridgeForce</string>
	<key>rowBesideBuffer</key>
	<string>liteMissionAcceleration</string>
	<key>significantObserverVisible</key>
	<string>allocatorLikeTier</string>
</dict>
</plist>
