<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedEventInset</key>
	<string>columnPlatformIndex</string>
	<key>chartAgainstValue</key>
	<string>alignmentTaskMode</string>
	<key>coordinatorAsTemple</key>
	<string>managerLayerRotation</string>
	<key>intuitiveCellMargin</key>
	<string>fixedContractionStatus</string>
	<key>parallelProviderType</key>
	<string>heroAlongMode</string>
	<key>popupProcessShade</key>
	<string>intuitiveSlashShade</string>
	<key>significantBaselineInteraction</key>
	<string>nodePatternOrientation</string>
	<key>spineBridgeHead</key>
	<string>uniformBuilderDirection</string>
	<key>taskDespiteStrategy</key>
	<string>profileOutsideInterpreter</string>
	<key>viewDuringDecorator</key>
	<string>pageviewAsSingleton</string>
</dict>
</plist>
