<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerPatternFeedback</key>
	<string>builderBesideFlyweight</string>
	<key>delegateContainValue</key>
	<string>animatedcontainerTempleTail</string>
	<key>factoryThanFramework</key>
	<string>enabledAsyncOffset</string>
	<key>geometricPresenterSpeed</key>
	<string>optimizerActivityColor</string>
	<key>loopWithPhase</key>
	<string>spotLikeForm</string>
	<key>lostRouterHue</key>
	<string>sceneAndForm</string>
	<key>optionPrototypeAppearance</key>
	<string>switchTierShape</string>
	<key>playbackCommandStyle</key>
	<string>presenterInterpreterContrast</string>
	<key>tickerTierTint</key>
	<string>tickerThroughCommand</string>
</dict>
</plist>
