<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>firstRoleName</key>
	<string>routeAwayActivity</string>
	<key>invisibleInjectionDelay</key>
	<string>positionedCompositeLeft</string>
	<key>multiplicationEnvironmentFlags</key>
	<string>getxInterpreterKind</string>
	<key>projectionTaskEdge</key>
	<string>musicDuringVisitor</string>
	<key>standaloneCustompaintPadding</key>
	<string>futureProxyAcceleration</string>
</dict>
</plist>
