<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterUntilStyle</key>
	<string>referenceCompositeResponse</string>
	<key>compositionalIntensityName</key>
	<string>repositoryBeyondPlatform</string>
	<key>criticalObserverMomentum</key>
	<string>providerWorkKind</string>
	<key>popupNearBridge</key>
	<string>resilientPrecisionForce</string>
	<key>publicConfigurationSpacing</key>
	<string>entropyStructureType</string>
	<key>sliderCommandScale</key>
	<string>roleOfFunction</string>
	<key>tappableSkinFeedback</key>
	<string>viewOperationPadding</string>
</dict>
</plist>
