<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activeSensorSpeed</key>
	<string>configurationExceptShape</string>
	<key>criticalGestureFeedback</key>
	<string>stampInForm</string>
	<key>gridChainOffset</key>
	<string>difficultGridviewResponse</string>
	<key>mediocreTabbarLeft</key>
	<string>semanticsCommandSpeed</string>
	<key>progressbarFunctionIndex</key>
	<string>reactiveNavigatorBrightness</string>
</dict>
</plist>
