<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryAgainstForm</key>
	<string>textOrNumber</string>
	<key>decorationContextLeft</key>
	<string>allocatorAmongJob</string>
	<key>intermediateChecklistColor</key>
	<string>mutableCupertinoRotation</string>
	<key>plateSingletonTail</key>
	<string>layoutViaPhase</string>
	<key>scaffoldShapeTail</key>
	<string>lazyBatchMode</string>
</dict>
</plist>
