<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushAsState</key>
	<string>reactiveImageSkewy</string>
	<key>matrixParameterInterval</key>
	<string>relationalDependencyHead</string>
	<key>numericalLabelTop</key>
	<string>numericalPositionedLocation</string>
	<key>permissiveCoordinatorDensity</key>
	<string>alignmentOutsideLevel</string>
	<key>progressbarExceptMemento</key>
	<string>largeTernaryMode</string>
	<key>servicePrototypeBehavior</key>
	<string>pointForShape</string>
</dict>
</plist>
