<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedToolVisibility</key>
	<string>disparateAwaitTail</string>
	<key>columnNearEnvironment</key>
	<string>fixedDurationKind</string>
	<key>descriptionDespiteType</key>
	<string>independentEntropyTension</string>
	<key>eagerIntensitySpacing</key>
	<string>offsetOutsideStyle</string>
	<key>pinchableSceneCenter</key>
	<string>vectorContextContrast</string>
	<key>progressbarLayerFormat</key>
	<string>taskTypeRotation</string>
	<key>radioShapeForce</key>
	<string>presenterDecoratorBrightness</string>
	<key>specifyCurveRate</key>
	<string>textureScopeTail</string>
	<key>statefulOrCycle</key>
	<string>streamInsideCommand</string>
	<key>webStateVisibility</key>
	<string>documentUntilPlatform</string>
</dict>
</plist>
