<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionVarTop</key>
	<string>swiftSinceVariable</string>
	<key>captionParamShape</key>
	<string>liteTransitionDistance</string>
	<key>independentOptionVelocity</key>
	<string>resultProxyInterval</string>
	<key>marginWorkDistance</key>
	<string>overlayExceptOperation</string>
	<key>materialOrActivity</key>
	<string>rowOutsideTier</string>
	<key>reducerSingletonResponse</key>
	<string>overlayVarFeedback</string>
	<key>riverpodVersusPhase</key>
	<string>injectionThanChain</string>
	<key>statelessTierRotation</key>
	<string>integerTierVisibility</string>
</dict>
</plist>
