<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cosineLayerContrast</key>
	<string>alignmentExceptVar</string>
	<key>descriptorPatternLeft</key>
	<string>methodChainState</string>
	<key>grainScopeStatus</key>
	<string>adaptiveEffectDuration</string>
	<key>heapStructureCoord</key>
	<string>completerThanStage</string>
	<key>localizationViaVisitor</key>
	<string>geometricSliderFormat</string>
	<key>optimizerNearComposite</key>
	<string>textTempleRotation</string>
	<key>specifyTransitionPadding</key>
	<string>associatedDescriptorRate</string>
	<key>streamBySystem</key>
	<string>flexStageStatus</string>
</dict>
</plist>
