<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axisBridgeShape</key>
	<string>consultativeSemanticsRotation</string>
	<key>eagerIsolateDepth</key>
	<string>managerOfForm</string>
	<key>geometricGetxSpacing</key>
	<string>dropdownbuttonStrategyStatus</string>
	<key>operationVarShape</key>
	<string>aperturePerChain</string>
	<key>plateBeyondWork</key>
	<string>operationCyclePosition</string>
	<key>promiseShapeShape</key>
	<string>lostTickerIndex</string>
	<key>reactiveEqualizationDuration</key>
	<string>delegateExceptOperation</string>
	<key>viewSingletonScale</key>
	<string>publicDependencyName</string>
</dict>
</plist>
