<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithoutComposite</key>
	<string>originalButtonDistance</string>
	<key>buttonBeyondInterpreter</key>
	<string>delicateDecorationBrightness</string>
	<key>completerWithLayer</key>
	<string>lostApertureColor</string>
	<key>immutablePresenterBehavior</key>
	<string>mediumCompleterMode</string>
	<key>optionTaskInterval</key>
	<string>remainderParameterTension</string>
	<key>pointSingletonResponse</key>
	<string>difficultBoxTail</string>
	<key>resultExceptProxy</key>
	<string>sensorProcessMomentum</string>
	<key>transformerTypeTransparency</key>
	<string>widgetStateKind</string>
	<key>vectorDecoratorValidation</key>
	<string>equalizationStyleShape</string>
</dict>
</plist>
