<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleSceneStatus</key>
	<string>adaptiveBaseRotation</string>
	<key>binaryInsideVisitor</key>
	<string>declarativeAwaitBottom</string>
	<key>geometricIntegerBorder</key>
	<string>contractionFacadeValidation</string>
	<key>lazyRowTop</key>
	<string>stateViaStage</string>
	<key>mutableFrameTension</key>
	<string>reducerAmongFacade</string>
	<key>nextManagerDensity</key>
	<string>variantValueMode</string>
	<key>reactivePaddingOffset</key>
	<string>draggableSignBorder</string>
	<key>streamMethodRate</key>
	<string>opaqueTopicShade</string>
	<key>taskDecoratorIndex</key>
	<string>routeDecoratorTag</string>
</dict>
</plist>
