<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientProxyType</key>
	<string>sizePlatformLeft</string>
	<key>mainEqualizationTag</key>
	<string>documentContainFunction</string>
	<key>mediaFromStyle</key>
	<string>labelParameterBrightness</string>
	<key>popupAdapterStatus</key>
	<string>listenerChainSkewy</string>
	<key>providerOutsideStrategy</key>
	<string>controllerMethodSize</string>
	<key>scaffoldValueTransparency</key>
	<string>materialSingletonOffset</string>
	<key>spineInsideStructure</key>
	<string>cupertinoOfWork</string>
</dict>
</plist>
