<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>deferredExtensionFrequency</key>
	<string>layerAndProxy</string>
	<key>permanentLossRight</key>
	<string>hashInsideMemento</string>
	<key>protocolFacadeCount</key>
	<string>hashStyleBottom</string>
	<key>storeUntilKind</key>
	<string>layoutEnvironmentResponse</string>
	<key>transformerAdapterCoord</key>
	<string>cubitBridgeMargin</string>
</dict>
</plist>
