<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationFromTier</key>
	<string>tensorNavigatorLeft</string>
	<key>diffableTransitionSkewy</key>
	<string>originalEntropyIndex</string>
	<key>modelMethodTransparency</key>
	<string>sliderAsTemple</string>
	<key>richtextStyleBottom</key>
	<string>scrollableSpineBorder</string>
	<key>sensorLayerColor</key>
	<string>mediaqueryPhaseVelocity</string>
	<key>symbolOfDecorator</key>
	<string>nextInteractorDensity</string>
	<key>threadSinceActivity</key>
	<string>futureAwayKind</string>
	<key>uniqueOptimizerTension</key>
	<string>offsetStrategyMomentum</string>
</dict>
</plist>
