<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aspectStateMargin</key>
	<string>sliderValueBorder</string>
	<key>cellVisitorDepth</key>
	<string>popupThroughAction</string>
	<key>curveAgainstFunction</key>
	<string>profileSinceBridge</string>
	<key>optimizerForStyle</key>
	<string>explicitSignatureHue</string>
	<key>previewAndForm</key>
	<string>responseNearPrototype</string>
	<key>radioProcessShade</key>
	<string>compositionTierStyle</string>
	<key>statefulVariantMargin</key>
	<string>storyboardKindRate</string>
	<key>statelessSinceTemple</key>
	<string>controllerSinceParameter</string>
	<key>storeWorkStyle</key>
	<string>cosineVisitorVisibility</string>
</dict>
</plist>
