<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationShapeCenter</key>
	<string>mobileStatelessFlags</string>
	<key>difficultDependencyForce</key>
	<string>symmetricQueueDelay</string>
	<key>mobxBufferOffset</key>
	<string>sizeExceptProxy</string>
	<key>reductionStrategyName</key>
	<string>callbackBesideForm</string>
	<key>roleAroundState</key>
	<string>textureOrFacade</string>
	<key>scrollableZoneBrightness</key>
	<string>columnValueSaturation</string>
	<key>specifyAnimationBrightness</key>
	<string>enabledAxisCount</string>
	<key>statefulConfigurationTransparency</key>
	<string>consultativeMarginPadding</string>
	<key>subsequentSkinSpacing</key>
	<string>gateLikeAdapter</string>
</dict>
</plist>
