<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hardContainerRotation</key>
	<string>paddingTierSpeed</string>
	<key>interactiveOffsetTail</key>
	<string>standaloneResourceSpeed</string>
	<key>missedGridDensity</key>
	<string>anchorThanScope</string>
	<key>viewAgainstInterpreter</key>
	<string>consultativeNodeCenter</string>
</dict>
</plist>
