<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchSystemOrientation</key>
	<string>decorationWithoutPhase</string>
	<key>grainPrototypeOrigin</key>
	<string>webAllocatorEdge</string>
	<key>lostProgressbarVisible</key>
	<string>mobileFeatureOrientation</string>
	<key>opaqueStorePadding</key>
	<string>liteUtilCoord</string>
	<key>sineExceptMediator</key>
	<string>activityStyleCoord</string>
</dict>
</plist>
