<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleControllerOpacity</key>
	<string>activeActionOpacity</string>
	<key>alignmentCompositeDuration</key>
	<string>transitionValueVisible</string>
	<key>basicAnimationDistance</key>
	<string>enabledOffsetFlags</string>
	<key>buttonFacadeCount</key>
	<string>enabledGetxDirection</string>
	<key>cubitAndMethod</key>
	<string>autoConvolutionContrast</string>
	<key>navigatorInsideOperation</key>
	<string>awaitScopeTint</string>
	<key>pinchableCupertinoPadding</key>
	<string>singletonLevelTail</string>
	<key>requiredNavigationMomentum</key>
	<string>spriteTempleRate</string>
	<key>semanticPositionedRate</key>
	<string>zoneViaEnvironment</string>
</dict>
</plist>
