<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationPerMode</key>
	<string>unsortedProfileDensity</string>
	<key>animationThroughCycle</key>
	<string>dimensionOfTier</string>
	<key>compositionalLayerEdge</key>
	<string>modulusNearParam</string>
	<key>prismaticProtocolDelay</key>
	<string>appbarContextAlignment</string>
</dict>
</plist>
