<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentParameterFeedback</key>
	<string>discardedRichtextVisible</string>
	<key>consumerPerOperation</key>
	<string>requestAwayValue</string>
	<key>operationContextVelocity</key>
	<string>difficultBlocDirection</string>
	<key>previewMementoMomentum</key>
	<string>instructionInsideSingleton</string>
	<key>priorStoreBound</key>
	<string>assetUntilVar</string>
	<key>providerBridgeTransparency</key>
	<string>popupDecoratorTransparency</string>
	<key>relationalQueueAcceleration</key>
	<string>pageviewParameterOffset</string>
	<key>sessionOutsideMode</key>
	<string>activityProcessShape</string>
</dict>
</plist>
