<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFromWork</key>
	<string>topicIncludeBuffer</string>
	<key>currentLogFeedback</key>
	<string>resolverDespiteActivity</string>
	<key>futureProxyInteraction</key>
	<string>tappableModelAcceleration</string>
	<key>labelBesideAdapter</key>
	<string>previewAmongFacade</string>
	<key>uniformReferenceName</key>
	<string>projectionByPhase</string>
</dict>
</plist>
