<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>curveActivityBound</key>
	<string>decorationPerAction</string>
	<key>errorMediatorTension</key>
	<string>operationActionResponse</string>
	<key>grainInsideFramework</key>
	<string>coordinatorSystemAppearance</string>
	<key>greatProtocolTension</key>
	<string>missedPageviewInterval</string>
	<key>modulusCompositeIndex</key>
	<string>cartesianFactoryFormat</string>
	<key>normalFragmentColor</key>
	<string>imperativeBufferValidation</string>
	<key>streamMediatorOpacity</key>
	<string>labelIncludeParam</string>
</dict>
</plist>
