<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>explicitDelegateDistance</key>
	<string>missedCubitOffset</string>
	<key>intuitivePopupHead</key>
	<string>touchAgainstMemento</string>
	<key>radiusContextPadding</key>
	<string>containerJobScale</string>
	<key>screenAsShape</key>
	<string>delicateScaffoldColor</string>
	<key>uniformOptimizerInset</key>
	<string>invisibleScrollForce</string>
	<key>webHeroOpacity</key>
	<string>cacheContextVelocity</string>
</dict>
</plist>
