<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>euclideanThemeScale</key>
	<string>richtextOperationState</string>
	<key>geometricChecklistDirection</key>
	<string>normalErrorLocation</string>
	<key>hierarchicalHeroEdge</key>
	<string>dropdownbuttonProcessDuration</string>
	<key>permissiveParticleStatus</key>
	<string>animatedReferenceHead</string>
	<key>permissiveTimerOrientation</key>
	<string>sizeWithoutState</string>
	<key>timerAdapterAlignment</key>
	<string>gridThroughPlatform</string>
</dict>
</plist>
