<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chartShapeForce</key>
	<string>elasticPresenterScale</string>
	<key>coordinatorBeyondFunction</key>
	<string>sortedSpriteMomentum</string>
	<key>hashParamMomentum</key>
	<string>factoryActionBrightness</string>
	<key>mobileJobContrast</key>
	<string>textfieldAsNumber</string>
	<key>numericalTransitionType</key>
	<string>chartThroughVisitor</string>
	<key>precisionThroughValue</key>
	<string>activityThroughAdapter</string>
	<key>protocolBufferSpacing</key>
	<string>canvasOfCommand</string>
	<key>roleAsValue</key>
	<string>numericalAlignmentInteraction</string>
	<key>staticOperationInteraction</key>
	<string>offsetParameterStatus</string>
	<key>storageDuringPattern</key>
	<string>alphaDuringWork</string>
</dict>
</plist>
