<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>behaviorSystemMargin</key>
	<string>frameOutsideState</string>
	<key>flexBesidePattern</key>
	<string>robustServiceFeedback</string>
	<key>skinVariableFlags</key>
	<string>viewThroughVisitor</string>
	<key>taskDespiteJob</key>
	<string>mediumHeapDirection</string>
</dict>
</plist>
