<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cupertinoSignBound</key>
	<string>topicModeShape</string>
	<key>effectExceptBridge</key>
	<string>titleFrameworkAcceleration</string>
	<key>permanentMenuLeft</key>
	<string>injectionFacadeTint</string>
	<key>resultProxyDepth</key>
	<string>containerMethodOrigin</string>
	<key>rowSingletonMode</key>
	<string>matrixOfStrategy</string>
	<key>secondInterpolationVelocity</key>
	<string>layoutMediatorBorder</string>
	<key>textfieldModeMomentum</key>
	<string>mutableButtonOrigin</string>
	<key>transitionInKind</key>
	<string>consultativeLogSize</string>
	<key>transitionStrategySpacing</key>
	<string>grainAboutVisitor</string>
	<key>uniqueRepositoryForce</key>
	<string>semanticsScopeState</string>
</dict>
</plist>
