<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brushTypeShade</key>
	<string>protectedDependencyDepth</string>
	<key>eventForStage</key>
	<string>notifierTypeKind</string>
	<key>hyperbolicTextureState</key>
	<string>hardMetadataVisible</string>
	<key>labelStyleDirection</key>
	<string>scrollableCubitBehavior</string>
	<key>subsequentLossInset</key>
	<string>layerMethodValidation</string>
	<key>titleAmongLayer</key>
	<string>adaptiveActionRight</string>
</dict>
</plist>
