<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>containerFunctionTop</key>
	<string>parallelManagerBorder</string>
	<key>crudeTransformerFeedback</key>
	<string>semanticsInsideSystem</string>
	<key>effectBridgeDelay</key>
	<string>commandInsideState</string>
	<key>isolateModeInteraction</key>
	<string>aspectratioShapeHead</string>
	<key>precisionWithoutNumber</key>
	<string>mobileFunctionTint</string>
	<key>viewAgainstStyle</key>
	<string>roleFacadeBound</string>
	<key>widgetParamDensity</key>
	<string>originalUnaryTint</string>
</dict>
</plist>
