<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>beginnerStorageCoord</key>
	<string>resultExceptCycle</string>
	<key>captionDespiteNumber</key>
	<string>mobileActivityOrientation</string>
	<key>constSliderAcceleration</key>
	<string>handlerProcessLeft</string>
	<key>descriptionInsideTemple</key>
	<string>resilientDurationBorder</string>
	<key>euclideanTickerName</key>
	<string>inactiveTableFeedback</string>
	<key>graphPhaseTag</key>
	<string>observerDuringMediator</string>
	<key>publicGiftBehavior</key>
	<string>spriteAtParameter</string>
	<key>sortedEqualizationSkewy</key>
	<string>requestVersusStrategy</string>
	<key>taskStyleTension</key>
	<string>fusedProjectTail</string>
</dict>
</plist>
