<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorBesidePrototype</key>
	<string>mediocreSessionHue</string>
	<key>oldFlexShape</key>
	<string>paddingInterpreterPadding</string>
	<key>resourceSincePrototype</key>
	<string>loopOperationCoord</string>
</dict>
</plist>
