<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>configurationParamValidation</key>
	<string>constraintFrameworkInterval</string>
	<key>liteCardOrientation</key>
	<string>promiseAlongAdapter</string>
	<key>projectAtDecorator</key>
	<string>constraintStyleSkewx</string>
</dict>
</plist>
