<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorSinceComposite</key>
	<string>checklistDespiteContext</string>
	<key>histogramNearPlatform</key>
	<string>resilientExponentRight</string>
	<key>largeUsecaseLocation</key>
	<string>reducerTaskRate</string>
	<key>nibOutsideVar</key>
	<string>interactorBesideStyle</string>
	<key>positionedJobMode</key>
	<string>disparateGestureType</string>
	<key>storageAsComposite</key>
	<string>nodeDespiteStructure</string>
</dict>
</plist>
