<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advancedSkinFlags</key>
	<string>viewDuringScope</string>
	<key>diffableStorageDistance</key>
	<string>observerLikeProcess</string>
	<key>histogramBesideForm</key>
	<string>richtextTierTail</string>
	<key>iterativeErrorStatus</key>
	<string>cycleVariableKind</string>
	<key>largeSkinTransparency</key>
	<string>sequentialLayoutResponse</string>
	<key>previewLayerSpeed</key>
	<string>asyncSegmentFlags</string>
	<key>sensorDecoratorMargin</key>
	<string>labelInsideNumber</string>
	<key>sortedTransformerLocation</key>
	<string>reducerWithStructure</string>
</dict>
</plist>
