<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>easyCupertinoMargin</key>
	<string>scrollableGateHead</string>
	<key>functionalChapterRight</key>
	<string>axisOrTemple</string>
	<key>secondListviewRotation</key>
	<string>sliderActionSpeed</string>
</dict>
</plist>
