<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintBufferAcceleration</key>
	<string>robustBrushHue</string>
	<key>directlyAsyncLeft</key>
	<string>gateLevelColor</string>
	<key>grainFacadeMomentum</key>
	<string>menuAboutTask</string>
	<key>prevLabelVisibility</key>
	<string>flexAlongStrategy</string>
	<key>radiusTierTension</key>
	<string>delicateColumnVisibility</string>
	<key>resultModeScale</key>
	<string>queryUntilInterpreter</string>
	<key>scaffoldContextDensity</key>
	<string>tabviewByProcess</string>
	<key>stateCommandCenter</key>
	<string>elasticFutureDistance</string>
	<key>substantialNotifierDirection</key>
	<string>semanticProgressbarInterval</string>
</dict>
</plist>
