<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gradientParameterAcceleration</key>
	<string>intuitiveCertificateTint</string>
	<key>overlayStageShade</key>
	<string>timerNumberTop</string>
	<key>resourcePhaseValidation</key>
	<string>draggableAsyncAlignment</string>
	<key>riverpodKindForce</key>
	<string>diversifiedHandlerLeft</string>
	<key>sliderAwayAdapter</key>
	<string>aspectExceptScope</string>
	<key>themePlatformMargin</key>
	<string>statelessLayoutAppearance</string>
</dict>
</plist>
