<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoSubpixelDuration</key>
	<string>hardGraphSaturation</string>
	<key>cupertinoLikeParam</key>
	<string>radioAwayFunction</string>
	<key>delegateAboutKind</key>
	<string>visibleMissionTint</string>
	<key>immediateManagerVisible</key>
	<string>heapSinceBuffer</string>
	<key>normBesideActivity</key>
	<string>intensityShapeCoord</string>
	<key>providerOfNumber</key>
	<string>errorCompositeDepth</string>
	<key>rowForObserver</key>
	<string>behaviorAndBuffer</string>
	<key>singleProviderForce</key>
	<string>symbolOrParam</string>
	<key>textfieldScopeState</key>
	<string>materialReductionSize</string>
	<key>transformerSinceParam</key>
	<string>gestureEnvironmentDelay</string>
</dict>
</plist>
