<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedcontainerAtBridge</key>
	<string>frameVarColor</string>
	<key>imperativeResourceCenter</key>
	<string>usedLabelInteraction</string>
	<key>interactorWithActivity</key>
	<string>graphicSinceObserver</string>
	<key>isolateIncludeComposite</key>
	<string>geometricFrameState</string>
	<key>textureAwayInterpreter</key>
	<string>providerStructureIndex</string>
	<key>zoneUntilCommand</key>
	<string>playbackAndChain</string>
</dict>
</plist>
