<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianGraphResponse</key>
	<string>gradientJobAppearance</string>
	<key>deferredManagerStyle</key>
	<string>multiKernelKind</string>
	<key>heapStyleInset</key>
	<string>storageVersusPrototype</string>
	<key>immediateInteractorInterval</key>
	<string>mainApertureVelocity</string>
	<key>multiplicationStageStyle</key>
	<string>decorationInPlatform</string>
	<key>presenterFormDelay</key>
	<string>managerAboutLevel</string>
	<key>sizeByMethod</key>
	<string>lastAlignmentRate</string>
	<key>usageFrameworkSkewy</key>
	<string>controllerVariableHead</string>
</dict>
</plist>
