<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>actionDecoratorOpacity</key>
	<string>modelFormBrightness</string>
	<key>directAllocatorAlignment</key>
	<string>activeGraphShade</string>
	<key>featureOperationBound</key>
	<string>blocAboutFlyweight</string>
	<key>greatMovementDensity</key>
	<string>providerPatternDirection</string>
	<key>mediumPromisePosition</key>
	<string>mediaqueryMementoIndex</string>
	<key>newestScrollVisibility</key>
	<string>entitySinceActivity</string>
	<key>normalGrayscaleDistance</key>
	<string>accordionDescriptionShape</string>
	<key>substantialProviderSaturation</key>
	<string>topicAdapterLocation</string>
</dict>
</plist>
