<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>captionStageTail</key>
	<string>mobxDuringSingleton</string>
	<key>equipmentStagePressure</key>
	<string>prevConstraintVisibility</string>
	<key>mediaStrategyForce</key>
	<string>movementObserverName</string>
	<key>previewCompositeShade</key>
	<string>marginProcessOrigin</string>
	<key>temporaryPositionTransparency</key>
	<string>columnScopeIndex</string>
	<key>textThroughBridge</key>
	<string>builderAtPrototype</string>
	<key>themeParameterSaturation</key>
	<string>usedPresenterOffset</string>
	<key>transformerFlyweightAcceleration</key>
	<string>stackProxyPressure</string>
</dict>
</plist>
