<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>characterPerMemento</key>
	<string>cubitDuringPrototype</string>
	<key>columnAmongSingleton</key>
	<string>requestBeyondActivity</string>
	<key>frameOfActivity</key>
	<string>singletonVersusFunction</string>
	<key>storeScopeTheme</key>
	<string>difficultSpriteRight</string>
	<key>synchronousDelegateShape</key>
	<string>prismaticNavigatorHue</string>
	<key>timerMementoHue</key>
	<string>stateFromKind</string>
</dict>
</plist>
