<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>difficultTangentAppearance</key>
	<string>hashAwayType</string>
	<key>immutableEquipmentInterval</key>
	<string>substantialStreamOrientation</string>
	<key>localizationNearCommand</key>
	<string>scrollUntilTier</string>
	<key>rapidRouteColor</key>
	<string>arithmeticRequestOffset</string>
	<key>switchSingletonDirection</key>
	<string>textOperationTop</string>
</dict>
</plist>
