<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferPatternSkewx</key>
	<string>crucialMethodTint</string>
	<key>effectInsideProxy</key>
	<string>seamlessMatrixFrequency</string>
	<key>popupStructureAppearance</key>
	<string>displayablePlateFeedback</string>
	<key>previewActivityFrequency</key>
	<string>consumerTempleLeft</string>
	<key>subsequentOptimizerBottom</key>
	<string>chartModeOrigin</string>
</dict>
</plist>
