<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedReferenceTop</key>
	<string>oldResponseTension</string>
	<key>containerProxyName</key>
	<string>dialogsForParam</string>
	<key>mutableLoopCount</key>
	<string>desktopOffsetInset</string>
	<key>reducerModeFormat</key>
	<string>musicOutsideStyle</string>
	<key>toolTempleFeedback</key>
	<string>futureKindTransparency</string>
</dict>
</plist>
