<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>certificateAsSingleton</key>
	<string>capacitiesThanWork</string>
	<key>descriptorOrStructure</key>
	<string>lazyAsyncLeft</string>
	<key>diffableCallbackRotation</key>
	<string>retainedLocalizationType</string>
	<key>errorContextAppearance</key>
	<string>requiredChannelMargin</string>
	<key>futureLikePrototype</key>
	<string>buttonBufferTransparency</string>
	<key>giftFromVariable</key>
	<string>layoutExceptState</string>
	<key>largeInteractorOrientation</key>
	<string>modulusVisitorDirection</string>
	<key>storyboardSinceValue</key>
	<string>menuAlongFacade</string>
	<key>utilFormInterval</key>
	<string>retainedDurationDelay</string>
</dict>
</plist>
