<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonAroundBuffer</key>
	<string>typicalAnchorBehavior</string>
	<key>modulusDuringForm</key>
	<string>rowFlyweightEdge</string>
	<key>parallelConstraintCount</key>
	<string>symbolViaParameter</string>
	<key>routeWithActivity</key>
	<string>referenceActionCenter</string>
	<key>storageIncludeParam</key>
	<string>catalystStateTension</string>
</dict>
</plist>
