<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleCharacterOpacity</key>
	<string>overlayViaStage</string>
	<key>flexSystemTint</key>
	<string>difficultRadiusAlignment</string>
	<key>immutableRowDuration</key>
	<string>intensityPlatformCount</string>
	<key>offsetProxyDuration</key>
	<string>sliderCompositeStatus</string>
	<key>riverpodLevelRate</key>
	<string>groupOrFlyweight</string>
	<key>segmentActivityRotation</key>
	<string>hashShapeRotation</string>
	<key>sizeAgainstStyle</key>
	<string>notifierActivityTag</string>
	<key>unaryActionDensity</key>
	<string>dropdownbuttonPrototypeMomentum</string>
</dict>
</plist>
