<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bufferFacadeBound</key>
	<string>responseDespitePhase</string>
	<key>bulletAndWork</key>
	<string>effectCommandValidation</string>
	<key>canvasAgainstProcess</key>
	<string>previewParameterInteraction</string>
	<key>cubitForFramework</key>
	<string>serviceFrameworkState</string>
	<key>durationOrAction</key>
	<string>normalSingletonTransparency</string>
	<key>firstQueryRight</key>
	<string>scenePerMemento</string>
	<key>intensityStageCenter</key>
	<string>labelFrameworkTension</string>
	<key>layoutProxyDelay</key>
	<string>temporaryFeatureKind</string>
	<key>scaffoldAsLayer</key>
	<string>errorInMediator</string>
</dict>
</plist>
