<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alphaTaskAcceleration</key>
	<string>customizedMetadataFeedback</string>
	<key>easyPopupVelocity</key>
	<string>alignmentAgainstStructure</string>
	<key>finalErrorIndex</key>
	<string>ephemeralLocalizationDensity</string>
	<key>gestureAroundInterpreter</key>
	<string>iterativePetCenter</string>
	<key>positionedCompositePadding</key>
	<string>routerAdapterStyle</string>
	<key>standaloneMarginOrigin</key>
	<string>semanticCacheName</string>
	<key>toolBridgeDepth</key>
	<string>sensorAsFlyweight</string>
</dict>
</plist>
