<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicInkwellAppearance</key>
	<string>commonSpotDelay</string>
	<key>channelBesideVar</key>
	<string>routeSinceVariable</string>
	<key>displayableContractionMomentum</key>
	<string>mediumFeatureShape</string>
	<key>numericalSemanticsEdge</key>
	<string>musicNumberFormat</string>
	<key>painterLayerRight</key>
	<string>interpolationFacadeLeft</string>
	<key>singletonTierVelocity</key>
	<string>clipperOrPattern</string>
	<key>uniqueChartKind</key>
	<string>flexibleContainerBound</string>
</dict>
</plist>
