<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>masterMethodFrequency</key>
	<string>precisionBesideStrategy</string>
	<key>prevCaptionBorder</key>
	<string>anchorAboutMemento</string>
	<key>resultBridgeTop</key>
	<string>responsiveWidgetStyle</string>
	<key>sizeCycleVelocity</key>
	<string>blocContainObserver</string>
</dict>
</plist>
