<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>batchTempleAlignment</key>
	<string>equalizationNumberMode</string>
	<key>borderFlyweightMargin</key>
	<string>gridFromState</string>
	<key>callbackContextSize</key>
	<string>compositionAwayPattern</string>
	<key>customReducerStyle</key>
	<string>cycleModeValidation</string>
	<key>numericalGraphicHue</key>
	<string>listviewPrototypeAppearance</string>
	<key>pageviewAmongStrategy</key>
	<string>integerAndFramework</string>
	<key>reducerStrategySkewy</key>
	<string>temporaryChecklistCoord</string>
	<key>smallIndicatorSize</key>
	<string>masterOrVar</string>
	<key>storageInOperation</key>
	<string>positionedOrAction</string>
	<key>taskPhaseDensity</key>
	<string>cubitTaskOrigin</string>
</dict>
</plist>
