<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>prevFutureTint</key>
	<string>queueFunctionSkewx</string>
	<key>riverpodPrototypeDelay</key>
	<string>storageObserverTint</string>
	<key>semanticCertificateSize</key>
	<string>layoutThroughEnvironment</string>
</dict>
</plist>
