<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorPlatformTop</key>
	<string>exceptionProcessRotation</string>
	<key>arithmeticSingletonBottom</key>
	<string>clipperStateBottom</string>
	<key>customizedGraphicAlignment</key>
	<string>bulletFlyweightPosition</string>
	<key>lazyFrameForce</key>
	<string>ephemeralGroupTint</string>
	<key>newestDrawerState</key>
	<string>eagerTransformerBorder</string>
	<key>nodeActionName</key>
	<string>bufferLikeJob</string>
	<key>queryBesideBridge</key>
	<string>allocatorFromInterpreter</string>
	<key>themeAndJob</key>
	<string>oldAsyncOpacity</string>
</dict>
</plist>
