<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adaptiveProjectionPosition</key>
	<string>layerDespiteType</string>
	<key>composableDimensionMode</key>
	<string>giftMementoDuration</string>
	<key>concreteStreamDistance</key>
	<string>animationAmongStructure</string>
	<key>iterativeZoneSkewx</key>
	<string>mediaqueryLayerVisibility</string>
</dict>
</plist>
