<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasAmongChain</key>
	<string>immutableLayerOffset</string>
	<key>commandJobKind</key>
	<string>accessibleSpecifierPosition</string>
	<key>explicitPrecisionPressure</key>
	<string>sineTempleRotation</string>
	<key>gesturePrototypeColor</key>
	<string>characterFacadeFeedback</string>
	<key>missedEntityVisibility</key>
	<string>lostGradientAlignment</string>
	<key>modelParameterDuration</key>
	<string>builderParamVisibility</string>
	<key>resizableDecorationSpacing</key>
	<string>hierarchicalExponentScale</string>
</dict>
</plist>
