<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anchorDespiteCommand</key>
	<string>radiusLikeStrategy</string>
	<key>comprehensiveGridviewResponse</key>
	<string>commonPriorityTop</string>
	<key>errorNumberRight</key>
	<string>popupSinceContext</string>
	<key>firstFutureLocation</key>
	<string>canvasBridgeTint</string>
	<key>layerIncludeMode</key>
	<string>protocolLevelMargin</string>
	<key>localizationWithFunction</key>
	<string>touchDecoratorName</string>
	<key>routePrototypeDelay</key>
	<string>customizedZoneBound</string>
</dict>
</plist>
