<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessibleNavigatorTransparency</key>
	<string>isolateInsideAction</string>
	<key>activatedStoreFrequency</key>
	<string>gridviewUntilProxy</string>
	<key>alphaForBuffer</key>
	<string>publicBlocVisible</string>
	<key>autoEntityTop</key>
	<string>navigationAroundVariable</string>
	<key>firstSpinePadding</key>
	<string>dependencyBeyondCommand</string>
	<key>layoutThanProxy</key>
	<string>prevListviewDirection</string>
	<key>operationForStrategy</key>
	<string>agileMapCoord</string>
	<key>otherCallbackTension</key>
	<string>statelessTaskPadding</string>
	<key>tickerModeDensity</key>
	<string>builderDespiteMode</string>
</dict>
</plist>
