<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignmentMethodTail</key>
	<string>flexVariableShape</string>
	<key>hierarchicalSkirtType</key>
	<string>modelTierAcceleration</string>
	<key>isolateAsStrategy</key>
	<string>interfaceSinceMethod</string>
	<key>localizationJobSaturation</key>
	<string>modalStateLocation</string>
	<key>primaryResultSkewy</key>
	<string>concurrentResolverTail</string>
	<key>semanticCubeSkewy</key>
	<string>desktopStatefulHead</string>
	<key>serviceFromStrategy</key>
	<string>persistentApertureOrigin</string>
</dict>
</plist>
