<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedExceptionDuration</key>
	<string>descriptorAgainstVariable</string>
	<key>pageviewDuringEnvironment</key>
	<string>positionedAdapterShape</string>
	<key>singletonVisitorRate</key>
	<string>providerMediatorPosition</string>
	<key>staticProtocolBehavior</key>
	<string>sliderTempleInterval</string>
</dict>
</plist>
