<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasByPlatform</key>
	<string>easyRadiusColor</string>
	<key>constraintModeBehavior</key>
	<string>specifyStoreOffset</string>
	<key>containerShapeCount</key>
	<string>roleViaPlatform</string>
	<key>delicatePopupHead</key>
	<string>newestTitleTop</string>
	<key>multiBorderTint</key>
	<string>errorParamDistance</string>
	<key>sineObserverHue</key>
	<string>normalStatelessPadding</string>
	<key>substantialSubscriptionEdge</key>
	<string>handlerVisitorRate</string>
</dict>
</plist>
