<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>coordinatorDecoratorState</key>
	<string>accessoryProxyMargin</string>
	<key>custompaintOrStrategy</key>
	<string>tickerWorkStyle</string>
	<key>entityCompositeInterval</key>
	<string>localListviewCoord</string>
	<key>factoryContextRight</key>
	<string>mainMultiplicationTheme</string>
</dict>
</plist>
