<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>awaitWithMode</key>
	<string>stackNearSingleton</string>
	<key>binaryLikeChain</key>
	<string>subsequentTweenTransparency</string>
	<key>compositionBesidePattern</key>
	<string>listviewEnvironmentInteraction</string>
	<key>difficultDialogsFlags</key>
	<string>boxshadowAmongVisitor</string>
	<key>memberForLevel</key>
	<string>toolPlatformRotation</string>
	<key>respectiveDecorationHead</key>
	<string>substantialEffectIndex</string>
	<key>singleChartResponse</key>
	<string>storeChainHead</string>
	<key>variantLikeTemple</key>
	<string>imperativeMobileAlignment</string>
</dict>
</plist>
