<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>functionalObserverResponse</key>
	<string>baselineTypeMode</string>
	<key>stampInsideNumber</key>
	<string>subsequentLabelTail</string>
	<key>transformerShapeEdge</key>
	<string>signBeyondStyle</string>
</dict>
</plist>
