<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationTypeInterval</key>
	<string>materialPositionBottom</string>
	<key>commonProgressbarTension</key>
	<string>exponentObserverDelay</string>
	<key>exponentPerBridge</key>
	<string>channelSystemResponse</string>
	<key>oldGrainBehavior</key>
	<string>protectedStorageResponse</string>
	<key>previewExceptKind</key>
	<string>injectionDecoratorDuration</string>
	<key>scrollNumberOrientation</key>
	<string>themePlatformOffset</string>
	<key>textAgainstMode</key>
	<string>sliderDespiteVar</string>
</dict>
</plist>
