<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>agileGraphDuration</key>
	<string>delegateNumberTension</string>
	<key>asyncBlocSpacing</key>
	<string>tableBeyondInterpreter</string>
	<key>convolutionVersusPattern</key>
	<string>progressbarMementoStatus</string>
	<key>cycleSystemStatus</key>
	<string>inheritedDurationType</string>
	<key>effectOfFramework</key>
	<string>delicateNavigatorPosition</string>
	<key>rectInKind</key>
	<string>labelByCommand</string>
	<key>rowPerType</key>
	<string>synchronousMenuVelocity</string>
	<key>streamSinceShape</key>
	<string>taskNearNumber</string>
</dict>
</plist>
