<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>checkboxVersusWork</key>
	<string>intermediateRouteShade</string>
	<key>imageExceptSystem</key>
	<string>heroThanBridge</string>
	<key>newestListenerPosition</key>
	<string>capsuleAndType</string>
	<key>positionByContext</key>
	<string>playbackDespiteSingleton</string>
	<key>priorParticleStatus</key>
	<string>liteExponentPadding</string>
	<key>providerInterpreterTint</key>
	<string>lazyExtensionOrientation</string>
	<key>reductionActivityFlags</key>
	<string>resourceLayerBorder</string>
	<key>spriteInsideEnvironment</key>
	<string>tickerExceptState</string>
	<key>stackFrameworkMomentum</key>
	<string>criticalBehaviorShape</string>
	<key>transformerFromFunction</key>
	<string>composableCubitDirection</string>
</dict>
</plist>
