<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>comprehensiveAsyncFrequency</key>
	<string>spriteLevelTag</string>
	<key>difficultPopupMomentum</key>
	<string>toolBesidePattern</string>
	<key>futureVarInterval</key>
	<string>resultBesideState</string>
	<key>indicatorProxyRate</key>
	<string>arithmeticAxisPadding</string>
	<key>normValueVelocity</key>
	<string>catalystPerMethod</string>
	<key>priorDurationContrast</key>
	<string>pivotalCharacterShape</string>
	<key>workflowLikeChain</key>
	<string>eventContainEnvironment</string>
</dict>
</plist>
