<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintThanLevel</key>
	<string>offsetNearForm</string>
	<key>cursorUntilVariable</key>
	<string>intermediateAlertStatus</string>
	<key>fixedSizedboxEdge</key>
	<string>tickerObserverIndex</string>
	<key>interactorAboutStyle</key>
	<string>stepInterpreterTint</string>
	<key>loopChainMargin</key>
	<string>diffableTaskDirection</string>
	<key>lossUntilMediator</key>
	<string>semanticEntityResponse</string>
	<key>profileContextTransparency</key>
	<string>actionOrParam</string>
	<key>singleResolverDensity</key>
	<string>resultFlyweightCenter</string>
</dict>
</plist>
