<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>catalystVersusInterpreter</key>
	<string>popupFlyweightName</string>
	<key>disabledEntropyMargin</key>
	<string>nibInterpreterOrientation</string>
	<key>layoutUntilLevel</key>
	<string>webBlocSkewy</string>
	<key>managerActionRotation</key>
	<string>permissiveSignTension</string>
	<key>optionChainPressure</key>
	<string>tappableMatrixFlags</string>
	<key>primaryTechniqueLocation</key>
	<string>hashVersusProxy</string>
</dict>
</plist>
