<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entitySinceDecorator</key>
	<string>localTopicRotation</string>
	<key>mobileAxisLocation</key>
	<string>resourceFrameworkTail</string>
	<key>slashThroughCommand</key>
	<string>layerOfStructure</string>
</dict>
</plist>
