<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animatedResultBound</key>
	<string>interfaceStructureTag</string>
	<key>associatedPresenterInterval</key>
	<string>numericalDecorationOffset</string>
	<key>buttonAwayBridge</key>
	<string>permissiveRouteRotation</string>
	<key>certificateBufferDensity</key>
	<string>symmetricBufferMargin</string>
	<key>commonResolverInset</key>
	<string>textureViaCycle</string>
	<key>constraintContainBridge</key>
	<string>callbackStyleStatus</string>
	<key>iconAndMode</key>
	<string>routerIncludeWork</string>
	<key>masterWorkMargin</key>
	<string>toolParameterName</string>
	<key>storageContextRate</key>
	<string>substantialSizeMode</string>
	<key>uniformSpotTop</key>
	<string>clipperCompositeShade</string>
</dict>
</plist>
