<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>directDropdownbuttonPadding</key>
	<string>titleOfVisitor</string>
	<key>interpolationAdapterMode</key>
	<string>independentScrollTag</string>
	<key>isolatePhaseBottom</key>
	<string>axisSinceAdapter</string>
	<key>kernelModeRotation</key>
	<string>completerStateAlignment</string>
	<key>pointProcessDensity</key>
	<string>prismaticTransitionOpacity</string>
	<key>resizableViewVisibility</key>
	<string>hyperbolicLayoutSpeed</string>
	<key>secondFeatureMode</key>
	<string>operationWithMemento</string>
	<key>sizedboxStateMode</key>
	<string>smartSpriteInterval</string>
	<key>textAndNumber</key>
	<string>resourceSingletonVelocity</string>
</dict>
</plist>
