<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianThreadDuration</key>
	<string>statefulSliderEdge</string>
	<key>graphBufferLeft</key>
	<string>binaryViaState</string>
	<key>graphInterpreterStyle</key>
	<string>autoMomentumStatus</string>
	<key>logInsideParam</key>
	<string>monsterByLevel</string>
	<key>presenterFlyweightType</key>
	<string>accessibleCompletionOrientation</string>
</dict>
</plist>
