<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frameAboutProxy</key>
	<string>gesturedetectorAgainstMemento</string>
	<key>respectiveCosineSpeed</key>
	<string>customHandlerVelocity</string>
	<key>staticBlocForce</key>
	<string>semanticStatelessLeft</string>
	<key>vectorFormOffset</key>
	<string>factoryThroughInterpreter</string>
</dict>
</plist>
