<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterOrSingleton</key>
	<string>zoneBridgeCoord</string>
	<key>characterAtStructure</key>
	<string>eventKindIndex</string>
	<key>eventForType</key>
	<string>largeCompleterBound</string>
	<key>lazyIntensityAcceleration</key>
	<string>smartAspectIndex</string>
	<key>requestVarFlags</key>
	<string>gridviewDecoratorBrightness</string>
	<key>secondCubitLeft</key>
	<string>iconDespiteFramework</string>
	<key>tabbarBeyondBuffer</key>
	<string>alignmentPerLevel</string>
</dict>
</plist>
