<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chapterNumberFlags</key>
	<string>previewFromValue</string>
	<key>constraintWithoutProxy</key>
	<string>euclideanEquipmentInteraction</string>
	<key>disparateChartOpacity</key>
	<string>disparateCoordinatorShape</string>
	<key>lossShapeColor</key>
	<string>observerPerTemple</string>
	<key>momentumDespiteWork</key>
	<string>frameParamTag</string>
	<key>offsetAndMethod</key>
	<string>agileRouteBrightness</string>
	<key>routerExceptJob</key>
	<string>methodEnvironmentMode</string>
	<key>sizeIncludeKind</key>
	<string>keySingletonShape</string>
</dict>
</plist>
