<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerThanComposite</key>
	<string>histogramActionAcceleration</string>
	<key>customErrorInterval</key>
	<string>arithmeticTweenTension</string>
	<key>fixedPositionedBrightness</key>
	<string>collectionFromPhase</string>
	<key>musicVariableShade</key>
	<string>robustShaderTension</string>
	<key>prismaticTextureOffset</key>
	<string>errorStructureMomentum</string>
</dict>
</plist>
