<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>descriptionTaskTheme</key>
	<string>drawerTypeStatus</string>
	<key>difficultNibBehavior</key>
	<string>statefulWithSystem</string>
	<key>directConfigurationSpeed</key>
	<string>documentTaskStyle</string>
	<key>drawerLevelRight</key>
	<string>precisionVisitorStyle</string>
	<key>granularIsolateBottom</key>
	<string>navigatorFlyweightBehavior</string>
	<key>hyperbolicDurationBottom</key>
	<string>hardProviderPosition</string>
	<key>observerOperationOrientation</key>
	<string>exceptionActivityPadding</string>
	<key>protectedPreviewTension</key>
	<string>routeFacadeDepth</string>
	<key>routeAlongType</key>
	<string>textfieldVariableSkewx</string>
	<key>sustainableExpandedTension</key>
	<string>titleInProxy</string>
</dict>
</plist>
