<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>buttonThanMode</key>
	<string>tensorAxisTheme</string>
	<key>getxAwayOperation</key>
	<string>vectorWithAction</string>
	<key>localNavigationName</key>
	<string>topicAgainstMethod</string>
	<key>movementFlyweightRight</key>
	<string>semanticBaseTop</string>
	<key>notificationKindTension</key>
	<string>delegateAwayPlatform</string>
	<key>techniqueTaskCenter</key>
	<string>channelOperationPosition</string>
	<key>transformerEnvironmentFlags</key>
	<string>imageOfNumber</string>
	<key>unsortedHeapTag</key>
	<string>buttonOrMediator</string>
	<key>widgetVersusContext</key>
	<string>textDespiteBridge</string>
</dict>
</plist>
