<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>activatedNavigatorBorder</key>
	<string>segueParamLocation</string>
	<key>cubitContextColor</key>
	<string>pinchableSegueColor</string>
	<key>fusedQueryType</key>
	<string>statefulAsStrategy</string>
	<key>gradientParameterLocation</key>
	<string>vectorMediatorAppearance</string>
	<key>gramOfOperation</key>
	<string>immediateScaleTheme</string>
	<key>layoutAboutObserver</key>
	<string>displayableMethodStatus</string>
	<key>sensorWithDecorator</key>
	<string>methodVisitorCount</string>
	<key>sineContextFrequency</key>
	<string>workflowTaskType</string>
	<key>tappableTernaryAlignment</key>
	<string>allocatorParamFlags</string>
	<key>typicalThemeDirection</key>
	<string>normFunctionFeedback</string>
</dict>
</plist>
