<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationInterpreterSize</key>
	<string>usedStorageSpeed</string>
	<key>axisWithSingleton</key>
	<string>reusableFactoryType</string>
	<key>builderInterpreterResponse</key>
	<string>awaitInterpreterTransparency</string>
	<key>concurrentActionMode</key>
	<string>loopOperationCenter</string>
	<key>positionedThanLevel</key>
	<string>constQueueName</string>
	<key>tabviewWithContext</key>
	<string>geometricQueueShade</string>
	<key>utilPerStage</key>
	<string>localizationPatternPosition</string>
</dict>
</plist>
