<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>controllerFormSpeed</key>
	<string>delegateShapeFrequency</string>
	<key>geometricContainerInterval</key>
	<string>titleDecoratorFrequency</string>
	<key>heroShapeStatus</key>
	<string>publicConsumerInterval</string>
	<key>inactiveControllerRight</key>
	<string>enabledCurveSaturation</string>
	<key>lostStatefulForce</key>
	<string>entityWorkValidation</string>
	<key>menuAtBuffer</key>
	<string>loopViaAdapter</string>
	<key>multiAnimationRate</key>
	<string>apertureActivityBrightness</string>
	<key>relationalControllerTint</key>
	<string>cursorStructureMomentum</string>
	<key>routerNearOperation</key>
	<string>animationPrototypeCoord</string>
	<key>screenAsTier</key>
	<string>opaqueChapterTint</string>
</dict>
</plist>
