<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cartesianAppbarRate</key>
	<string>eventInterpreterResponse</string>
	<key>cartesianListenerMomentum</key>
	<string>mediaqueryWithMemento</string>
	<key>drawerBridgePressure</key>
	<string>rowPatternOrigin</string>
	<key>logInterpreterOffset</key>
	<string>transitionAroundAdapter</string>
	<key>optimizerFromKind</key>
	<string>eventWorkMode</string>
	<key>resizableBlocKind</key>
	<string>delegateNumberRight</string>
	<key>responsiveViewTension</key>
	<string>largeParticleDirection</string>
	<key>retainedScaffoldScale</key>
	<string>difficultEntityTint</string>
	<key>scrollInMode</key>
	<string>singletonLayerInteraction</string>
	<key>segueAwayMethod</key>
	<string>smallResultLocation</string>
</dict>
</plist>
