<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binarySingletonSpacing</key>
	<string>handlerCommandRight</string>
	<key>cosineAmongVariable</key>
	<string>layoutPrototypeShade</string>
	<key>scrollableSensorRotation</key>
	<string>previewAdapterOffset</string>
	<key>spineFormDistance</key>
	<string>awaitContainCycle</string>
	<key>tweenWithLayer</key>
	<string>menuOrForm</string>
</dict>
</plist>
