<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicDelegateCenter</key>
	<string>directCertificatePosition</string>
	<key>basicGemAppearance</key>
	<string>gestureScopeDuration</string>
	<key>cubitTaskStatus</key>
	<string>cosineAboutKind</string>
	<key>lostRowRight</key>
	<string>chartAboutState</string>
	<key>movementVarPosition</key>
	<string>concreteDelegateInteraction</string>
	<key>symmetricDelegateTension</key>
	<string>commandInsidePhase</string>
	<key>textShapeVisibility</key>
	<string>missionAsFunction</string>
</dict>
</plist>
