<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appbarThroughMediator</key>
	<string>factoryActivityInterval</string>
	<key>axisAtFlyweight</key>
	<string>commonAlignmentBorder</string>
	<key>effectUntilContext</key>
	<string>explicitSizeHead</string>
	<key>frameViaProxy</key>
	<string>animationMethodMomentum</string>
	<key>materialAgainstAdapter</key>
	<string>requestViaAdapter</string>
	<key>normalAssetBrightness</key>
	<string>similarDurationAppearance</string>
	<key>rapidSubscriptionVelocity</key>
	<string>painterForFramework</string>
	<key>routeAsFunction</key>
	<string>semanticCaptionRight</string>
	<key>skinNumberKind</key>
	<string>resolverDecoratorSpacing</string>
	<key>transformerThanParam</key>
	<string>statelessMetadataSize</string>
</dict>
</plist>
