<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>binaryMediatorStyle</key>
	<string>rapidNavigatorBound</string>
	<key>eagerAssetBottom</key>
	<string>menuAboutPlatform</string>
	<key>explicitCapsuleFeedback</key>
	<string>coordinatorExceptAction</string>
	<key>flexInOperation</key>
	<string>featureAboutAdapter</string>
	<key>observerVarShape</key>
	<string>positionUntilMode</string>
	<key>sharedRectFeedback</key>
	<string>sineForBridge</string>
	<key>specifierTempleOrientation</key>
	<string>commonCapacitiesMargin</string>
	<key>subpixelPhaseFrequency</key>
	<string>unactivatedRowTransparency</string>
	<key>uniformFeatureState</key>
	<string>dependencyByCommand</string>
</dict>
</plist>
