<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>autoChecklistOrigin</key>
	<string>textfieldSinceStructure</string>
	<key>chapterPerVar</key>
	<string>missedChapterEdge</string>
	<key>dependencyInterpreterOffset</key>
	<string>crudeMovementRate</string>
	<key>layoutContextVisibility</key>
	<string>nodeInSystem</string>
	<key>secondModulusTag</key>
	<string>keyObserverTint</string>
	<key>textfieldCompositeBorder</key>
	<string>popupChainVisible</string>
	<key>tweenPlatformKind</key>
	<string>symmetricStoreRotation</string>
	<key>widgetOutsideSystem</key>
	<string>mobxLayerRotation</string>
</dict>
</plist>
