<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncMovementResponse</key>
	<string>decorationIncludeBuffer</string>
	<key>eventStageMargin</key>
	<string>grainPatternType</string>
	<key>kernelWithMethod</key>
	<string>pivotalBinaryPadding</string>
	<key>localizationAmongNumber</key>
	<string>entityNumberSpacing</string>
	<key>mediocreBinaryInterval</key>
	<string>grainObserverTransparency</string>
	<key>movementAtParameter</key>
	<string>musicViaAdapter</string>
	<key>requiredEntityRotation</key>
	<string>consultativeAlertInterval</string>
	<key>smallSliderRate</key>
	<string>mainCurveTag</string>
	<key>storeVarRate</key>
	<string>viewNearDecorator</string>
	<key>symmetricResultSpeed</key>
	<string>resourcePatternTail</string>
</dict>
</plist>
