<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>blocFrameworkFlags</key>
	<string>repositoryOutsideLayer</string>
	<key>desktopAnimatedcontainerDistance</key>
	<string>animationShapeColor</string>
	<key>dynamicWidgetBottom</key>
	<string>cycleIncludeFacade</string>
	<key>inheritedRectFeedback</key>
	<string>retainedUnaryDelay</string>
	<key>largeDimensionVisibility</key>
	<string>sizeForFunction</string>
	<key>nextGridAppearance</key>
	<string>skinModePadding</string>
	<key>resolverContainState</key>
	<string>loopSinceNumber</string>
	<key>serviceOrVar</key>
	<string>entropyStructureHue</string>
	<key>specifyPrecisionRight</key>
	<string>difficultDelegateBottom</string>
	<key>tweenAmongMethod</key>
	<string>swiftNumberRate</string>
</dict>
</plist>
