<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>eagerTopicName</key>
	<string>axisWithVisitor</string>
	<key>menuInsideCycle</key>
	<string>backwardLocalizationRate</string>
	<key>optionVisitorEdge</key>
	<string>progressbarOrCycle</string>
</dict>
</plist>
