<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consultativeRadiusVisibility</key>
	<string>flexibleStoreStyle</string>
	<key>curveStateColor</key>
	<string>specifierViaFacade</string>
	<key>draggableFactoryRight</key>
	<string>semanticsWithoutActivity</string>
	<key>functionalCompleterMargin</key>
	<string>stackVersusForm</string>
	<key>mutableTabviewInteraction</key>
	<string>keyBoxCount</string>
	<key>radiusChainShape</key>
	<string>draggableSwiftDistance</string>
	<key>sizeCommandAcceleration</key>
	<string>inkwellForStructure</string>
</dict>
</plist>
