<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>constraintNearSingleton</key>
	<string>gestureNumberInterval</string>
	<key>graphAsState</key>
	<string>decorationTaskShape</string>
	<key>multiplicationThanTask</key>
	<string>consumerParamAcceleration</string>
	<key>sliderBesideValue</key>
	<string>protocolActivityColor</string>
	<key>streamActivityDuration</key>
	<string>chartScopeDepth</string>
</dict>
</plist>
