<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>accessoryValueTint</key>
	<string>unaryEnvironmentAppearance</string>
	<key>adaptiveSpinePosition</key>
	<string>oldPointRate</string>
	<key>anchorActionTail</key>
	<string>blocDuringParameter</string>
	<key>durationParameterColor</key>
	<string>modelVersusAdapter</string>
	<key>rapidContainerShade</key>
	<string>futureStageDensity</string>
	<key>reducerTempleColor</key>
	<string>delegateInterpreterSaturation</string>
	<key>respectiveBulletTag</key>
	<string>viewAboutProcess</string>
	<key>rowOfObserver</key>
	<string>slashUntilScope</string>
	<key>textureVersusEnvironment</key>
	<string>autoListenerShape</string>
</dict>
</plist>
