<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>commonDurationFrequency</key>
	<string>effectChainTheme</string>
	<key>concreteFutureFeedback</key>
	<string>scrollableProfileSkewy</string>
	<key>managerActivityEdge</key>
	<string>smartChallengeShape</string>
	<key>modelOfType</key>
	<string>sizeAndPrototype</string>
	<key>navigatorOrProcess</key>
	<string>cacheVariableTag</string>
	<key>observerBesideValue</key>
	<string>bulletStageBrightness</string>
	<key>progressbarForFunction</key>
	<string>gestureFlyweightRate</string>
	<key>sensorStyleSkewx</key>
	<string>riverpodLevelEdge</string>
	<key>stateStrategyEdge</key>
	<string>spineFrameworkTension</string>
	<key>transitionForMemento</key>
	<string>tabbarAndBridge</string>
</dict>
</plist>
