<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>canvasTempleSize</key>
	<string>custompaintFormTag</string>
	<key>controllerOutsideProcess</key>
	<string>eventOfPhase</string>
	<key>ephemeralMediaSpeed</key>
	<string>gestureTemplePressure</string>
	<key>materialActivityTension</key>
	<string>exceptionJobAppearance</string>
	<key>plateThroughBridge</key>
	<string>intensityStructureOrigin</string>
	<key>resourceProcessRight</key>
	<string>workflowObserverVisibility</string>
	<key>transitionAlongLayer</key>
	<string>normalMobileOpacity</string>
	<key>utilNumberMomentum</key>
	<string>permanentFeatureMode</string>
</dict>
</plist>
