<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>asyncWithoutMode</key>
	<string>functionalCallbackTag</string>
	<key>bufferFromState</key>
	<string>transitionFlyweightOpacity</string>
	<key>consultativeGiftAcceleration</key>
	<string>monsterShapeIndex</string>
	<key>coordinatorStructureTheme</key>
	<string>mediumProgressbarDirection</string>
	<key>delicateManagerContrast</key>
	<string>responseVariableShape</string>
	<key>dependencyBySystem</key>
	<string>routeAlongLevel</string>
	<key>descriptionPerCycle</key>
	<string>catalystBridgeTop</string>
	<key>radiusLevelForce</key>
	<string>radiusLayerInteraction</string>
	<key>storeSinceFunction</key>
	<string>imperativeEventDirection</string>
</dict>
</plist>
