<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animationDespiteDecorator</key>
	<string>viewDespiteVar</string>
	<key>containerTaskOffset</key>
	<string>chapterNearVisitor</string>
	<key>drawerVisitorSpacing</key>
	<string>serviceProxyBehavior</string>
	<key>exponentAmongPlatform</key>
	<string>mediocreListviewSpacing</string>
	<key>stampActionDensity</key>
	<string>mapDuringMethod</string>
	<key>storageOutsideAdapter</key>
	<string>resolverVisitorEdge</string>
	<key>transformerInterpreterAlignment</key>
	<string>nativeFutureKind</string>
	<key>transitionExceptDecorator</key>
	<string>currentRouteTop</string>
</dict>
</plist>
