<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>basicMatrixVelocity</key>
	<string>immediateCharacterDelay</string>
	<key>localizationByContext</key>
	<string>entityDecoratorStatus</string>
	<key>nodeParamContrast</key>
	<string>consultativeModelEdge</string>
	<key>rapidMediaScale</key>
	<string>optionSincePlatform</string>
	<key>rapidSizeShape</key>
	<string>entropyAboutObserver</string>
	<key>sampleJobAcceleration</key>
	<string>commandActivityCoord</string>
</dict>
</plist>
