<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>decorationNearTemple</key>
	<string>arithmeticForShape</string>
	<key>gestureViaFramework</key>
	<string>consultativeColumnTail</string>
	<key>interactorAdapterLocation</key>
	<string>certificateAgainstScope</string>
	<key>modelMethodLocation</key>
	<string>boxPerSingleton</string>
	<key>skirtCompositePadding</key>
	<string>blocFacadePressure</string>
	<key>tangentCycleRight</key>
	<string>signaturePlatformKind</string>
	<key>tensorHashInteraction</key>
	<string>constraintIncludeLayer</string>
</dict>
</plist>
