<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumerCommandRate</key>
	<string>utilFlyweightBound</string>
	<key>normalOffsetScale</key>
	<string>layerTaskEdge</string>
	<key>routerSinceActivity</key>
	<string>nextCubitAppearance</string>
	<key>semanticStoryboardBorder</key>
	<string>matrixEnvironmentVelocity</string>
	<key>transitionActionColor</key>
	<string>delegateAroundComposite</string>
	<key>usedCatalystStyle</key>
	<string>kernelBridgeLocation</string>
</dict>
</plist>
